- content_for :header, 'Check your request'

.divider.compact
  %h2= t("deferred.prisoner_details")
  %p
    %big
      %strong= t("deferred.a_b", a: (visit.prisoner.first_name), b: (visit.prisoner.last_name))
  %p
    = t("deferred.date_of_birth")
    %strong= format_date visit.prisoner.date_of_birth
  - if visit.prisoner.number.present?
    %p
      = t("deferred.prisoner_number")
      %strong #{visit.prisoner.number}
  %p
    = t("deferred.prison")
    %strong #{visit.prisoner.prison_name}
  %p.edit-link= link_to 'Change prisoner details', prisoner_details_path

.divider.compact
  %h2= t("deferred.visitor_details")
  %p
    = t("deferred.confirmation_email")
    %strong= visit.visitors.first.email
  - visit.visitors.each_with_index do |visitor, i|
    - if visitor.first_name.present? || visitor.last_name.present?
      %p
        = t("deferred.visitor_a", a: (i+1))
        %strong= t("deferred.a_b", a: (visitor.first_name), b: (visitor.last_name))
        = t("deferred.unknown")
        = format_date visitor.date_of_birth
        - if visit.adult?(visitor)
          %small.AgeLabel-label.over= t("deferred.over_a", a: (adult_age))
        - else
          %small.AgeLabel-label.under= t("deferred.under_a", a: (adult_age))
  %p.edit-link= link_to 'Change visitor details', deferred_edit_visitors_details_path

.divider.compact.visit-details
  %h2= t("deferred.your_visit")
  - if visit.slots.dup.delete_if{|s|s.date.blank?}.size < 3
    %p= t("deferred.you_can_choose_up_to_2_alternative_dates")

  %p= t("deferred.first_choice")
  %p
    %strong= format_day visit.slots.first.date
    = display_slot_and_duration visit.slots.first.times
  
  - if visit.slots[1].date.present?
    %p.alt= t("deferred.alternatives")
    %ol.unstyled-list
      - visit.slots[1..-1].each do |slot|
        - if slot.date.present?
          %li
            %strong= format_day slot.date
            = display_slot_and_duration slot.times

  %p.edit-link= link_to 'Change visit details', deferred_edit_slots_path


.divider
  
  = link_to 'Terms & conditions', terms_and_conditions_path
  
  .actions
    .primary-actions
      = button_to 'Send request', deferred_visit_path, class: 'button button-primary', form: { id: 'send-request-form', class: 'js-SubmitOnce' }
    %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"
