- content_for :header, 'When do you want to visit?'

= render 'slotpicker_templates'

- if visit.slots.any? {|s| s.errors.any?}
  #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
    %h2#error-heading= t("deferred.you_need_to_fix_the_errors_on_this_page")
    %p= t("deferred.you_need_to_select_a_date_and_time_for_y")


.SlotPicker{ :"data-today" => Date.today }

  .right-column.visible--js-enabled

    .BookingCalendar.hidden--mobile
      .BookingCalendar-header
        %a.BookingCalendar-nav.BookingCalendar-nav--prev{href: "#"}
        %strong.BookingCalendar-currentMonth
        %a.BookingCalendar-nav.BookingCalendar-nav--next{href: "#"}

      %table.BookingCalendar-dates
        %thead
          %tr
            %th= t("deferred.mon")
            %th= t("deferred.tue")
            %th= t("deferred.wed")
            %th= t("deferred.thu")
            %th= t("deferred.fri")
            %th= t("deferred.sat")
            %th= t("deferred.sun")

      .BookingCalendar-mask
        %table.BookingCalendar-dates
          %tbody.BookingCalendar-datesBody

    .DateSlider.visible--mobile(data-selectonload="true")
      .DateSlider-month
      .DateSlider-sliders
        %a.DateSlider-button.DateSlider-buttonLeft{href: "#"}= t("deferred.unknown_1")
        %a.DateSlider-button.DateSlider-buttonRight{href: "#"}= t("deferred.unknown_2")
        .DateSlider-smallDates.scroll
          %ol.DateSlider-days
        .DateSlider-touch.scroll
          %ol.DateSlider-days
        .DateSlider-portalFrame
        .DateSlider-largeDates.scroll
          %ol.DateSlider-days

    %ul.BookingCalendar-legend
      %li
        .BookingCalendar-legendBox.BookingCalendar-legendBox--available
        %p.BookingCalendar-legendDesc= t("deferred.visit_days")
      %li
        .BookingCalendar-legendBox.BookingCalendar-legendBox--unavailable
        %p.BookingCalendar-legendDesc= t("deferred.non_visit_days")

    .SlotPicker-timeSlots
      %ul.SlotPicker-days
        %li.SlotPicker-day.SlotPicker-day--past
          %h2.SlotPicker-dayTitle
          %p= t("deferred.it_is_not_possible_to_book_a_visit_in_th")
        %li.SlotPicker-day.SlotPicker-day--unavailable
          %h2.SlotPicker-dayTitle
          %p= t("deferred.it_is_not_possible_to_book_a_visit_on_th")
        %li.SlotPicker-day.SlotPicker-day--beyond
          %h2.SlotPicker-dayTitle
          %p= t("deferred.you_can_only_book_a_visit_in_the_next_da")
        %li.SlotPicker-day.SlotPicker-day--leadtime
          %h2.SlotPicker-dayTitle
          %p= t("deferred.you_can_only_book_a_visit_3_working_days")

  .left-column

    .SlotPicker-choices.visible--js-enabled
      %p.SlotPicker-promoteHelp= t("deferred.use_the_arrows_to_put_your_visit_choices")


  = form_for visit, url: deferred_slots_path, :html => { :class => 'slot-form' } do |f|

    .hidden--js-enabled
      - @slots.each_with_index do |slot, index|
        = f.fields_for :slots, slot do

          .group
            %label{ for: "visit_slot_#{index+1}" }= t("deferred.option_a", a: (index+1))

            %select.SlotPicker-input(name='visit[slots][][slot]'){ id: "visit_slot_#{index+1}" }
              %option(value='')= t("deferred.none")
              - @schedule.available_visitation_dates.each do |date|
                - slots_for_day(date).each do |slot|
                  - value = [date.strftime('%Y-%m-%d'), slot.join('-')].join('-')
                  %option{ value: value, selected: ('selected' if value == current_slots[index]) }= date.strftime('%A, %e %B - ') + Time.strptime(slot[0].to_s, '%H%M').strftime('%l:%M%P')

    .actions
      .primary-actions
        = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary'
      %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

  = render 'ad_help'
