- content_for :header, 'When do you want to visit?'

= render 'slotpicker_templates'

- if visit.slots.any? {|s| s.errors.any?}
  #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
    %h2#error-heading You need to fix the errors on this page before continuing.
    %p You need to select a date and time for your visit.


.SlotPicker{ :"data-today" => Date.today }

  .right-column.visible--js-enabled

    .BookingCalendar.hidden--mobile
      .BookingCalendar-header
        %a.BookingCalendar-nav.BookingCalendar-nav--prev{href: "#"}
        %strong.BookingCalendar-currentMonth
        %a.BookingCalendar-nav.BookingCalendar-nav--next{href: "#"}

      %table.BookingCalendar-dates
        %thead
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun

      .BookingCalendar-mask
        %table.BookingCalendar-dates
          %tbody.BookingCalendar-datesBody

    .DateSlider.visible--mobile(data-selectonload="true")
      .DateSlider-month
      .DateSlider-sliders
        %a.DateSlider-button.DateSlider-buttonLeft{href: "#"} ❮
        %a.DateSlider-button.DateSlider-buttonRight{href: "#"} ❯
        .DateSlider-smallDates.scroll
          %ol.DateSlider-days
        .DateSlider-touch.scroll
          %ol.DateSlider-days
        .DateSlider-portalFrame
        .DateSlider-largeDates.scroll
          %ol.DateSlider-days

    %ul.BookingCalendar-legend
      %li
        .BookingCalendar-legendBox.BookingCalendar-legendBox--available
        %p.BookingCalendar-legendDesc Visit days
      %li
        .BookingCalendar-legendBox.BookingCalendar-legendBox--unavailable
        %p.BookingCalendar-legendDesc Non-visit days

    .SlotPicker-timeSlots
      %ul.SlotPicker-days
        %li.SlotPicker-day.SlotPicker-day--past
          %h2.SlotPicker-dayTitle
          %p It is not possible to book a visit in the past.
        %li.SlotPicker-day.SlotPicker-day--unavailable
          %h2.SlotPicker-dayTitle
          %p It is not possible to book a visit on this day.
        %li.SlotPicker-day.SlotPicker-day--beyond
          %h2.SlotPicker-dayTitle
          %p You can only book a visit in the next {{ daysInRange }} days.
        %li.SlotPicker-day.SlotPicker-day--leadtime
          %h2.SlotPicker-dayTitle
          %p You can only book a visit 3 working days in advance.

  .left-column

    .SlotPicker-choices.visible--js-enabled
      %p.SlotPicker-promoteHelp Use the arrows to put your visit choices in the order that suits you best.


  = form_for visit, url: deferred_slots_path, :html => { :class => 'slot-form' } do |f|

    .hidden--js-enabled
      - @slots.each_with_index do |slot, index|
        = f.fields_for :slots, slot do

          .group
            %label Option #{index+1}

            %select.SlotPicker-input(name='visit[slots][][slot]')
              %option(value='') none
              - @schedule.available_visitation_dates.each do |date|
                - slots_for_day(date).each do |slot|
                  - value = [date.strftime('%Y-%m-%d'), slot.join('-')].join('-')
                  %option{ value: value, selected: ('selected' if value == current_slots[index]) }= date.strftime('%A, %e %B - ') + Time.strptime(slot[0].to_s, '%H%M').strftime('%l:%M%P')

    .actions
      .primary-actions
        = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary'
      %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

  = render 'ad_help'
