- content_for :header, 'Visitor 1'

.Grid
  .Grid-2-3
  
    %p= t("deferred.speak_to_the_prisoner_to_check_you_re_on")

    %h2= t("deferred.your_details")

    = form_for visit, url: deferred_visitors_details_path, :html => { :autocomplete => 'off' } do |f|

      - if visit.errors.any? || visit.visitors.any? { |v| v.errors.any? }
        #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
          %h2#error-heading= t("deferred.you_need_to_fix_the_errors_on_this_page")

          %ul.error-messages
            - visit.errors.full_messages.each do |msg|
              %li= msg
            - visit.visitors.select{|v|v.errors.any?}.each do |visitor|
              - visitor.errors.messages.each do |key, val|
                %li
                  - if key == :base
                    = val.join(', ').humanize
                  - else
                    = [(visitor.index == 0 ? "your" : "visitor #{visitor.index+1}"), key, val.join(' and ')].join(' ').humanize

      %fieldset
        %legend.visuallyhidden= t("deferred.your_details")
        = f.fields_for visit.visitors[0], index: '' do |visitor_form|
          = render 'shared/visitors_details/visitor_fields', f: visitor_form, index: 0, visitor: visit.visitors[0], js_template: false

      %h2= t("deferred.other_visitors")
      %p= t("deferred.seating_arrangements_at_this_prison_allo", a: (adult_age))

      %fieldset
        %legend.visuallyhidden= t("deferred.other_visitors")
        .group.group--inline.visible--js-enabled
          %label(for="number_of_adults")= t("deferred.how_many_other_visitors")
          = select_tag 'visit[visitor][][number_of_adults]', options_for_select([['none',0],1,2,3,4,5], visit.visitors[0].number_of_adults.to_s), :class => 'number_of_visitors adults'

        .additional-visitors
          - visit.visitors.each_with_index do |visitor, index|
            - next if index == 0
            = f.fields_for visitor, index: '' do |visitor_form|
              = render 'shared/visitors_details/visitor_fields', f: visitor_form, index: index, visitor: visitor, js_template: false

      .actions
        .primary-actions
          = f.submit :name => 'next', :value => 'Continue', :class => 'button button-primary', :id => 'continue'
          = f.submit :name => 'next', :value => 'Add another visitor', :class => 'button hidden--js-enabled', :id => 'add-visitor'
        %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

    -# Repeat an empty instance of the visitor fields to append additional visitors on the client-side
    = form_for(Visit.new(prisoner: Prisoner.new, visitors: [Visitor.new, Visitor.new], slots: []), url: '', html: { id: 'template' }) do |f|
      = f.fields_for Visitor.new, index: '' do |visitor_form|
        %script#additional-visitor(type="text/html")
          = render 'shared/visitors_details/visitor_fields', f: visitor_form, index: '{{index}}', visitor: Visitor.new, js_template: true

    = render 'ad_help'
