.table-wrap
  %table
    %tr
      %th
      %th{colspan: 5}
        = t("metrics.number_of_visits")
      %th{colspan: 2}
        = t("metrics.end_to_end")
      %th{colspan: 4}
        = t("metrics.percent_rejected")
    %tr
      %td.prison-name
        = t("metrics.prison_name")
      %td
        = t("metrics.total")
      %td
        = t("metrics.waiting")
      %td
        = t("metrics.overdue")
      %td
        = t("metrics.rejected")
      %td
        = t("metrics.confirmed")
      %td
        = t("metrics.median_days")
      %td
        = t("metrics.95th_percentile_days")
      %td
        = t("metrics.overall")
      %td
        = t("metrics.no_slot")
      %td
        = t("metrics.not_on_contact_list")
      %td
        = t("metrics.no_vos_left")
    - @nomis_ids.each_with_index do |nomis_id, i|
      %tr{class: i.even? ? 'even' : 'odd'}
        %td.prison-name
          = link_to(prison_name_for_id(nomis_id), prison_metrics_fortnightly_path(nomis_id))
        %td.narrow.left-border
          = dataset.total_visits[nomis_id]
        %td.narrow
          = dataset.waiting_visits[nomis_id]
        %td.narrow
          = dataset.overdue_visits[nomis_id]
        %td.narrow
          = dataset.rejected_visits[nomis_id]
        %td.narrow
          = dataset.confirmed_visits[nomis_id]
        %td.left-border
          = display_interval_as_fraction(dataset.end_to_end_median_times[nomis_id], 1.day)
        %td.narrow
          = display_interval_as_fraction(dataset.end_to_end_times[nomis_id], 1.day)
        %td.narrow.left-border
          = display_percent(dataset.percent_rejected(nomis_id))
        %td.narrow
          = display_percent(dataset.percent_rejected(nomis_id, Confirmation::NO_SLOT_AVAILABLE))
        %td.narrow
          = display_percent(dataset.percent_rejected(nomis_id, Confirmation::NOT_ON_CONTACT_LIST))
        %td.narrow
          = display_percent(dataset.percent_rejected(nomis_id, Confirmation::NO_VOS_LEFT))

