%script{src: '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js'}
= javascript_include_tag 'metrics'
= stylesheet_link_tag 'metrics'

%h1
  Performance indicators for
  = prison_name_for_id(@nomis_id)
  = link_to('(Fortnightly)', prison_metrics_fortnightly_path(@nomis_id))
%h2
  Summary
%table#overall-performance
  %tr
    %th
      Under 3 days
    %th
      Over 3 days
    %th
      Status
  %tr
    %td
      = @dataset.processed_before
    %td
      = @dataset.processed_after
    %td
      = image_for_performance_score(@dataset.percentile(@dataset.end_to_end_times))

%h2
  End to end processing time
%script#end_to_end_times{language: 'json'}
  = @dataset.end_to_end_times.to_json
#end_to_end

%h2
  Processing time
%script#processing_times{language: 'json'}
  = @dataset.processing_times.to_json
#processing

%h2
  Unconfirmed visits by time from today
%script#waiting_times{language: 'json'}
  = @dataset.waiting_times.to_json
#waiting

%h2
  Time since last unconfirmed visit
= display_interval(@dataset.time_since_last_unprocessed)

%h2
  When are visits processed?
%script#weekly_processed_breakdown_json
  = @dataset.week_hour_breakdown('processed_at').to_json
#weekly_processed_breakdown

%h2
  When are visits requested?
%script#weekly_requested_breakdown_json
  = @dataset.week_hour_breakdown('requested_at').to_json
#weekly_requested_breakdown

:javascript
  // I'll move it where it belongs later.
  document.addEventListener('DOMContentLoaded', function() {
    displayHistogram('#end_to_end', JSON.parse(d3.select('#end_to_end_times').html()), true);
    displayHistogram('#processing', JSON.parse(d3.select('#processing_times').html()));
    displayHistogram('#waiting', JSON.parse(d3.select('#waiting_times').html()));
    displayWeeklyBreakdown('#weekly_processed_breakdown', JSON.parse(d3.select('#weekly_processed_breakdown_json').html()));
    displayWeeklyBreakdown('#weekly_requested_breakdown', JSON.parse(d3.select('#weekly_requested_breakdown_json').html()));
  });

