%script{src: '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js'}
= javascript_include_tag 'metrics'
= stylesheet_link_tag 'metrics'

%h1
  Fortnightly performance graph for
  = prison_name_for_id(@nomis_id)
%h2
  Summary for the year
  - (2014..(Date.today.year)).each do |year|
    - if year == @year
      %span{id: 'year'}
        = year
    - else
      = link_to(year, prison_metrics_fortnightly_performance_path(@nomis_id, year: year))

%script#percentile95{languge: 'json'}
  = @percentile95.to_json.html_safe
%script#percentile50{languge: 'json'}
  = @percentile50.to_json.html_safe
%script#volume{language: 'json'}
  = @volume.to_json.html_safe
#end_to_end_graph

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    displayPerformanceLineChart('#end_to_end_graph',
      JSON.parse(d3.select('#percentile95').html()),
      JSON.parse(d3.select('#percentile50').html()),
      JSON.parse(d3.select('#volume').html()));
  });
