%script{src: '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js'}
= javascript_include_tag 'metrics'
= stylesheet_link_tag 'metrics'

%h1
  Fortnightly performance indicators for
  = @prison
  = link_to('(All time)', prison_metrics_all_time_path(@prison))
  = link_to('Performance over time', prison_metrics_fortnightly_performance_path(@prison))
%h2
  Summary for
  = format_date(@start_date)
  to
  = format_date(@end_date)
%table#overall-performance
  %tr
    %th
      Under 3 days
    %th
      Over 3 days
    %th
      Status
  %tr
    %td
      = @dataset.processed_before
    %td
      = @dataset.processed_after
    %td
      = image_for_performance_score(@dataset.percentile(@dataset.end_to_end_times))
  %tr
    %th
      Median
    %th
      Total
    %th
      Waiting
  %tr
    %td
      = display_interval_as_fraction(@dataset.median(@dataset.end_to_end_times), 1.day)
    %td
      = @dataset.total
    %td
      = @dataset.waiting
      
%h2
  End to end processing time
%script#end_to_end_times{language: 'json'}
  = @dataset.end_to_end_times.to_json
#end_to_end

%h2
  Unprocessed visits by days from today
%script#waiting_times{language: 'json'}
  = @dataset.waiting_times.to_json
#waiting

:javascript
  // I'll move it where it belongs later.
  document.addEventListener('DOMContentLoaded', function() {
    displayHistogram('#end_to_end', JSON.parse(d3.select('#end_to_end_times').html()), true);
    displayHistogram('#waiting', JSON.parse(d3.select('#waiting_times').html()), false);
  });

