:css
  td.prison-name {
  }

  .even {
    background-color: LightGray;
  }

  table {
    border-collapse: collapse;
    background: white;
  }

  table td {
    padding-right: 0.5em;
    vertical-align: bottom;
    text-align: right;
  }

  table .narrow {
    width: 3em;
  }

  table .left-border {
    border-left: thin solid grey;
  }
  
- if @start_date
  %h1
    From
    = format_date(@start_date)
    to
    = format_date(@end_date)
  %h3
    = link_to('View this data for all time', range: 'all')
    = link_to('Download this view as CSV', format: :csv, range: '')
    = link_to('Other metrics', other_metrics_path)
- else
  %h1
    All time
  %h3
    = link_to('View this data for the past two weeks', range: '')
    = link_to('Download this view as CSV', format: :csv, range: 'all')
= render partial: 'all_prisons', locals: {dataset: @dataset}
