:css
  table {
    border-collapse: collapse;
  }

  td {
    text-align: right;
    min-width: 2em;
  }

  .prison-name {
    text-align: left;
  }

  .even {
    background-color: LightGray;
  }

  .total td {
    border: thin solid black;
  }

%h1
  Visits confirmed by week
  = link_to('CSV', format: :csv)

%table
  %tr
    %th
      Prison
    - @dataset.week_range.each do |week_no|
      %th
        = @start_of_year + week_no * 7
  %tr.total
    %td.prison-name
      TOTAL
    - @dataset.week_range.each do |week_no|
      %td
        = @dataset.total[week_no]
  - @nomis_ids.each do |nomis_id|
    %tr{class: cycle('odd', 'even')}
      %td.prison-name
        = prison_estate_name_for_id(nomis_id)
      - @dataset.week_range.each do |week_no|
        %td
          = @dataset.for_nomis_id(nomis_id)[week_no]
