= form_tag "/status/#{params[:id]}" do |f|

  .group.options

    %label.block-label(for="cancel_booking")
      %input#cancel_booking{ type: "checkbox", value: "#{type}", name: "cancel" }
      - if @state
        = hidden_field_tag :state, @state
      Yes, I want to cancel this visit

  .actions
    %input.button.button-primary{ type: "submit", value: "Cancel #{type}" }
