
.visitor.cf{ :id => "visitor-#{index}", :class => ('compact' if f.object.full_name.present? && f.object.date_of_birth.present?) }
  .summary
    %p Visitor #{index+1}
    %h4
      %span.name= visitor.full_name
      \ -
      %span.dob= visitor.date_of_birth
    = link_to 'Edit details', "#visitor-#{index}", :class => 'js-edit-visitor'

  - if index > 0
    %h3 Enter the additional visitor’s details below
  
  .group{ :class => ('validation-error' if f.object.errors.include?(:full_name)) }
    = f.label :full_name do
      Full name
      %span.validation-message= f.object.errors[:full_name].first if f.object.errors.include?(:full_name)
    = f.text_field :full_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    = f.label :date_of_birth do
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_field :date_of_birth

    %p
      %small Children under 16 can only visit with an adult.

  - if index > 0
    .quick-actions
      = f.button 'Remove', :class => 'pull-right', :name => 'next', :value => "remove-#{index}"

  - if index == 0
    .well
      %fieldset
        %legend Contact details (optional)
  
        %p You can receive confirmation of your visit by email or test message. Enter your address or mobile phone number below.
  
        .group{ :class => ('validation-error' if f.object.errors.include?(:email)) }
          = f.label :email do
            Email address
            %span.validation-message= f.object.errors[:email].first if f.object.errors.include?(:email)
          = f.email_field :email
  
        .group
          = f.label :phone, 'Contact phone number'
          = f.telephone_field :phone
  
- if index == 0
  = render 'additional_visitors'
