- content_for :header, 'Check your request'

- content_for :progress_bar do
  %ol.progress
    %li.progress--completed
      .progress__step
        %span.progress__label Prisoner details
    %li.progress--completed
      .progress__step
        %span.progress__label Visitor details
    %li.progress--completed.progress--previous
      .progress__step
        %span.progress__label Choose time
    %li.progress--active
      .progress__step
        %span.progress__label Check request
    %li
      .progress__step
        %span.progress__label Send request

- content_for :javascript do
  :javascript
    $("#send-request-form").submit(function() {
      ga('set', {
        'dimension1': visitMetadata.prison_name,
        'dimension2': visitMetadata.slot_weekdays[0],
        'dimension3': visitMetadata.slot_times[0],
        'metric1': visitMetadata.prisoner_age,
        'metric2': visitMetadata.visitor_age,
        'metric3': visitMetadata.number_of_slots,
        'metric4': visitMetadata.number_of_adult_visitors,
        'metric5': visitMetadata.number_of_child_visitors
      });

      if (visitMetadata.days_to_first_slot) {
        ga('set', 'metric6', visitMetadata.days_to_first_slot);
      }
    });

%p Check all the details on this page carefully before clicking 'Send request'

.divider
  .edit-link= link_to 'Edit these prisoner details', prisoner_details_path
  %h2 Prisoner details
  %p
    %big
      %strong #{visit.prisoner.first_name} #{visit.prisoner.last_name}
  %p
    Date of birth:
    %strong= visit.prisoner.date_of_birth.strftime("%e %B %Y")
  - if visit.prisoner.number.present?
    %p
      Prisoner number:
      %strong #{visit.prisoner.number}
  %p
    Prison:
    %strong #{visit.prisoner.prison_name}

.divider
  .edit-link= link_to 'Edit these visitor details', visitor_details_path
  %h2 Visitor details
  - visit.visitors.each_with_index do |visitor, i|
    - if visitor.first_name.present? || visitor.last_name.present?
      %p
        Visitor #{i+1}:
        %strong #{visitor.first_name} #{visitor.last_name}

.divider
  .edit-link= link_to 'Edit these visit times', choose_date_and_time_path
  %h2 Chosen visit times
  %ul.unstyled-list
    - visit.slots.each do |slot|
      - if slot.date.present?
        %li
          - slot_date = Date.parse(slot.date)
          %strong= slot_date.strftime("%A %e %B")
          \ -
          = display_slot_and_duration slot.times

.actions.divider
  = link_to 'Cancel and delete all details', abandon_path, :class => 'pull-right', :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"
  = button_to 'Send request', update_check_your_request_path, class: 'button button-primary', form: { id: 'send-request-form' }
:ruby
  haml_io << "<script>\n"
  haml_io << "visitMetadata = "
  haml_io << GoogleAnalyticsAdapter.new(visit).to_json
  haml_io << ";"
  haml_io << "</script>\n"
