- content_for :header, 'Who are you visiting?'

- content_for :progress_bar do
  %ol.progress
    %li.progress--active
      .progress__step
        %span.visuallyhidden Current step
        %span.progress__label Prisoner details
    %li
      .progress__step
        %span.progress__label Visitor details
    %li
      .progress__step
        %span.progress__label Choose time
    %li
      .progress__step
        %span.progress__label Check request
    %li
      .progress__step
        %span.progress__label Send request


%ul
  %li speak to the prisoner to check you’re on their visitor list (visitor's identity will be checked)
  %li you don’t need a Visiting Order (VO) number to request a visit
  %li you need the dates of birth for all visitors coming with you
  %li your visit will be confirmed by email within 3 working days of making your request

= form_for visit.prisoner, url: update_prisoner_details_path, as: :prisoner, :html => { :class => 'form validation', :autocomplete => 'off' } do |f|

  %h2 Prisoner details

  - if f.object.errors.any?
    = render 'shared/validation'

  %fieldset.FormBlock
    %legend.visuallyhidden Prisoner details
    .group{ :class => ('validation-error' if f.object.errors.include?(:first_name)) }
      = f.label :first_name do
        Prisoner first name
        %span.validation-message= f.object.errors[:first_name].first if f.object.errors.include?(:first_name)
      = f.text_field :first_name

    .group{ :class => ('validation-error' if f.object.errors.include?(:last_name)) }
      = f.label :last_name do
        Prisoner last name
        %span.validation-message= f.object.errors[:last_name].first if f.object.errors.include?(:last_name)
      = f.text_field :last_name

    .group.js-native-date{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
      %fieldset
        %legend
          Date of birth
          %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
        .date-of-birth
          %p#dobHint.form-hint.datefield-hint For example, 28 4 2014
          - dates = ['day', 'month', 'year']
          - dates.each_with_index do |o, i|
            .datefield{:class => "form-group form-group-#{o}"}
              %label{:for => "prisoner_date_of_birth_#{dates.count - i}i"} #{o.mb_chars.titleize}
              %input.form-control{:value => (visit.prisoner.date_of_birth ? visit.prisoner.date_of_birth.send(o) : ''), :type => "text", :name => "prisoner[date_of_birth(#{dates.count - i}i)]", :id => "prisoner_date_of_birth_#{dates.count - i}i", :'aria-describedby' => "dobHint"}
      %input.hidden.js-native-date__date-input(name='date_of_birth_native' type='date'){ :value => (visit.prisoner.date_of_birth ? visit.prisoner.date_of_birth.strftime('%Y-%m-%d') : '') }

    .group{ :class => ('validation-error' if f.object.errors.include?(:number)) }
      = f.label :number do
        Prisoner number
        %span.validation-message= f.object.errors[:number].first if f.object.errors.include?(:number)
      %p.form-hint The prisoner can give you this.
      = f.text_field :number

    .group{ :class => ('validation-error' if f.object.errors.include?(:prison_name)) }
      = f.label :prison_name do
        Name of the prison
        %span.validation-message= f.object.errors[:prison_name].first if f.object.errors.include?(:prison_name)
      = f.select :prison_name, prison_names, { prompt: 'select a prison' }, { class: 'js-autocomplete' }
      %details.group__help
        %summary Why are only these prisons available?
        %p You can’t make an online visit request for all prisons (eg high-security and private prisons). If the prison you're visiting is not shown, <a href="http://www.justice.gov.uk/contacts/prison-finder">contact the prison</a> to find out how to book.

  .actions
    .primary-actions
      = f.submit :Continue, :class => 'button button-primary'
    %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

%p.note
  %strong Please note
  %br
  If you don't enter any information for more than 20 minutes, then your session will time out and you'll need to start again.
