- content_for :header, 'Who are you visiting?'

- content_for :progress_bar do
  %ol.progress
    %li.progress--active
      .progress__step
        %span.progress__label Prisoner details
    %li
      .progress__step
        %span.progress__label Visitor details
    %li
      .progress__step
        %span.progress__label Choose time
    %li
      .progress__step
        %span.progress__label Check request
    %li
      .progress__step
        %span.progress__label Send request


%p You need to speak to the prisoner before you book to check they're happy for you to visit and that you're on their visitor list. You don't need a Visiting Order (VO) number to book. We'll email this to you when your visit is confirmed, within 1 - 3 working days of making your request.

= form_for visit.prisoner, url: update_prisoner_details_path, as: :prisoner, :html => { :class => 'form validation', :autocomplete => 'off' } do |f|

  - if f.object.errors.any?
    = render 'shared/validation'

  .group{ :class => ('validation-error' if f.object.errors.include?(:first_name)) }
    = f.label :first_name do
      Prisoner first name
      %span.validation-message= f.object.errors[:first_name].first if f.object.errors.include?(:first_name)
    = f.text_field :first_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:last_name)) }
    = f.label :last_name do
      Prisoner last name
      %span.validation-message= f.object.errors[:last_name].first if f.object.errors.include?(:last_name)
    = f.text_field :last_name

  .group.js-native-date{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    %label(for="prisoner_date_of_birth_3i")
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_select :date_of_birth, order: [:day, :month, :year], start_year: Time.now.year - 100, end_year: Time.now.year - 18, prompt: { day: :day, month: :month, year: :year }, with_css_classes: true
    %input.hidden.js-native-date__date-input(name='native' type='date')

  .group{ :class => ('validation-error' if f.object.errors.include?(:number)) }
    = f.label :number do
      Prisoner number
      %span.validation-message= f.object.errors[:number].first if f.object.errors.include?(:number)
    = f.text_field :number
    %details.group__help
      %summary How to get this?
      %p The prisoner you’re visiting will be able to give you their prisoner number.

  .group{ :class => ('validation-error' if f.object.errors.include?(:prison_name)) }
    = f.label :prison_name do
      Name of the prison
      %span.validation-message= f.object.errors[:prison_name] if f.object.errors.include?(:prison_name)
    = f.select :prison_name, prison_names
    %details.group__help
      %summary Why is only HMP Rochester on this list?
      %p HMP Rochester is the first prison to allow online visit requests. In future you'll be able to make online visit requests at more UK prisons.

  .actions
    = link_to 'Cancel and delete all details', abandon_path, :class => 'pull-right', :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"
    = f.submit :Continue, :class => 'button button-primary'

%p.note
  %strong Please note
  %br You can use this online form to request standard visits in the visiting hall only.
  If you don't enter any information for more than 20 minutes, then your session will time out and you'll need to start again.