- content_for :header, 'Your visit request has been sent'

- content_for :progress_bar do
  %ol.progress
    %li.progress--completed
      .progress__step
        %span.progress__label Prisoner details
    %li.progress--completed
      .progress__step
        %span.progress__label Visitor details
    %li.progress--completed
      .progress__step
        %span.progress__label Choose time
    %li.progress--completed.progress--previous
      .progress__step
        %span.progress__label Check request
    %li.progress--active
      .progress__step
        %span.progress__label Send request

%p
  We'll email you at
  %strong= visit.visitors[0].email
  within 3 working days to confirm your visit.
  If you don't receive a confirmation email, please
  - if prison_phone.present?
    call #{prison_phone} or
  email us at
  = succeed '.' do
    = mail_to prison_email

.well.summary-pane.pull-left.cf
  %p.flat
    Requested visiting times:
  %ul.unstyled-list
    - visit.slots.each do |slot|
      - if slot.date.present?
        %li
          - slot_date = Date.parse(slot.date)
          %strong= slot_date.strftime("%A %e %B")
          \ -
          = display_slot_and_duration slot.times

  %p
    Location:
    %br
    %strong
      = visit.prisoner.prison_name
      %br
      = prison_address

  %p= link_to 'View on Google maps', "http://google.com/maps?q=#{prison_postcode}", :rel => 'external'

  - if prison_phone.present?
    %p
      Tel:
      %br
      %strong= prison_phone

  %p.visible--js-enabled
    = link_to 'Print this page', '#', :class => 'print-link'

.info
  %details
    %summary<
      %acronym(title='Identification') ID
      you need for each visit

    %p Please make sure you bring ID with you. This can be ONE of the following:

    %ul
      %li passport, including foreign passports, and expired passports where the photograph is still recognisable
      %li identity card (including European identity cards) 
      %li driving licence
      %li benefits book
      %li senior citizen's public transport photo pass issued by a local authority
      %li employer's or student ID card but only if this has a photo and clearly shows your name and the issuing employer or educational establishment

    %p If you don't have one of these forms of ID, you can bring TWO of the following:

    %ul
      %li birth or marriage certificate
      %li cheque book or credit or debit card 
      %li employer's pass or ID or student ID card without photo 
      %li young person's 'proof of age' card
      %li trade union or National Students' Union membership card
      %li rent book
      %li foreign identity or residents' card

    %p If you have any questions about ID requirements, please contact the prison.

  %details
    %summary Changing or cancelling your visit

    %p If you need to change or cancel your visit, please contact us as soon as you can.
    %ul
      - if prison_phone.present?
        %li telephone: #{prison_phone}
      - if prison_email.present?
        %li
          email:
          = mail_to prison_email

  %details
    %summary What to bring

    %ul
      %li two forms of ID, one with your address
      %li a small amount of money for tea and coffee during the visit – you won’t be able to give the prisoner any money
      %li for more information about what to bring, for example clothes, please see the #{prison_link(visit)} page

  %details
    %summary What to expect when visiting prison

    %p You will be searched before entering the prison visiting room. Prison staff may check your pockets, pat you down and ask you to go through a metal detector. Dogs may also be used to detect illegal substances.

  %details
    %summary What not to bring

    %p Please do not bring anything restricted or illegal to the prison. For more information about what you are allowed to bring, please see the #{prison_link(visit)} page.

  = render 'shared/data_protection_act'

- unless just_testing?
  - content_for :analytics do
    :ruby
      haml_io << "visitMetadata = "
      haml_io << GoogleAnalyticsAdapter.new(visit).to_json
      haml_io << ";"

      haml_io << "ga('set', {"
      haml_io << "'dimension1': visitMetadata.prison_name,"
      haml_io << "'dimension2': visitMetadata.slot_weekdays[0],"
      haml_io << "'dimension3': visitMetadata.slot_times[0],"
      haml_io << "'dimension4': visitMetadata.completed_at,"
      haml_io << "'metric1': visitMetadata.prisoner_age,"
      haml_io << "'metric2': visitMetadata.visitor_age,"
      haml_io << "'metric3': visitMetadata.number_of_slots,"
      haml_io << "'metric4': visitMetadata.number_of_adult_visitors,"
      haml_io << "'metric5': visitMetadata.number_of_child_visitors"
      haml_io << "});"

      haml_io << "if (visitMetadata.days_to_first_slot) {"
      haml_io << "ga('set', 'metric6', visitMetadata.days_to_first_slot);"
      haml_io << "}"

