- content_for :header do
  %h1 Your visit request has been sent

%p
  We'll email you at
  %strong= visit.visitors[0].email
  within 72 hours to confirm your visit.
  If you need to get in touch with the prison visit booking team, please
  - if prison_phone(visit).present?
    call #{prison_phone(visit)} or
  see the #{prison_link(visit)} page.

.well.summary-pane.pull-left.cf
  %p.flat
    Requested visiting times:
  %ul.unstyled-list
    - visit.slots.each do |slot|
      - if slot.date.present?
        %li
          - slot_date = Date.parse(slot.date)
          %strong= slot_date.strftime("%A %e %B")
          \ -
          = display_slot_and_duration slot.times

  %p
    Location:
    %br
    %strong
      #{visit.prisoner.prison_name}
      %br
      - case visit.prisoner.prison_name
        - when 'HMP Gartree'
          = ['Gallow Field Rd', 'Market Harborough', 'Leicestershire', 'LE16 7RP'].join('<br>').html_safe
        - when 'HMP Rochester'
          = ['1 Fort Road', 'Rochester', 'Kent', 'ME1 3QS'].join('<br>').html_safe
        - when 'HMP Cardiff'
          = ['Knox Rd', 'Cardiff', 'South Glamorgan', 'CF24 0UG'].join('<br>').html_safe
        - when 'HMP Durham'
          = ['Old Elvet','Durham','DH1 3HU'].join('<br>').html_safe

  - if prison_phone(visit).present?
    %p
      Tel:
      %br
      %strong= prison_phone visit

  .visible--js-enabled
    = link_to 'Print this page', '#', :class => 'print-link'

.info
  %h2 What you need on the day

  %p
    Please make sure you bring two forms of
    %acronym(title='Identification') ID
    with you. One of them must have your address on. The kinds of ID you can use include:

  %ul
    %li Passport or identity or residence card (UK or from another country) 
    %li Rail or bus pass with photo
    %li Birth or marriage certificate 
    %li Driving licence with photo 
    %li Trade Union or Student Union card
    %li Utility bills addressed to you 
    %li Council tax bills addressed to you.

  %p.help-notice You won't be able to visit without these two forms of ID

  %h2 Changing or cancelling your visit

  %p If you need to change or cancel your visit, please contact us as soon as you can.
  %ul
    - if prison_phone(visit).present?
      %li Telephone: #{prison_phone(visit)}
    - if prison_email(visit).present?
      %li Email: #{prison_email(visit)}

  %h2 What to expect when visiting prison

  %p You will be searched before entering the prison visiting room. Prison staff may check your pockets, pat you down and ask you to go through a metal detector. Dogs may also be used to detect illegal substances.

  %h2 What to bring

  %ul
    %li Two forms of ID, one with your address. 
    %li A small amount of money for tea and coffee during the visit – you won’t be able to give the prisoner any money 
    %li For more information about what to bring, for example clothes, please see the #{prison_link(visit)} page. 

  %h2 What not to bring

  %p Please do not bring anything restricted or illegal to the prison. For more information about what you are allowed to bring, please see the #{prison_link(visit)} page.

  %h2 Your data

  %p The Ministry of Justice (HM Prison Service) uses and retains the personal data of visitors for the purposes of the safe and secure provision of Prison Services, including those related to the management and rehabilitation of offenders. 

  %p Access to the establishment can only be granted by supplying the prescribed information in order to ensure and maintain a safe and secure environment for all. 

  %p You have the right to request details as to the personal information we hold for you; and subsequently request that we correct any personal information if it is found to be inaccurate or out of date. We will not share your information with other organisations unless it is required for the purposes of prevention, detection of crime, apprehension, prosecution, and management of offenders; prevention of terrorism; National Security; or required to do by law. 

