- content_for :header, 'Visit status'

.Grid
  .Grid-2-3

    - case @visit_status
    
    - when 'confirmed'
      %h1= t("visit.your_visit_has_been_confirmed")
      %p= t("visit.you_should_have_received_an_email_confir")
      %p= t("visit.if_you_haven_t_received_a_confirmation_e")

      = render 'spam_notice'

      - if @state
        %h1= t("visit.cancel_this_visit")
        %p= t("visit.if_you_no_longer_want_to_visit_on_this_d")

        = render 'cancellation_form', type: :visit
    
    - when 'rejected'
      %h1= t("visit.your_visit_request_cannot_take_place_on")
      %p= t("visit.there_are_a_couple_of_possible_reasons_f")
      %p= t("visit.if_you_haven_t_received_an_email_to_say")

      = render 'spam_notice'
      
      %p= t("visit.request_a_a", a: (link_to 'new visit', prisoner_details_path))
    
    - when 'pending'
      %h1= t("visit.your_visit_is_not_booked_yet")
      %p= t("visit.your_visit_request_hasn_t_yet_been_proce")
      %p= t("visit.if_you_don_t_receive_an_email_within_3_w")

      = render 'spam_notice'
      
      %h1= t("visit.cancel_this_visit_request")
      %p= t("visit.if_you_no_longer_want_to_visit_on_this_d_1")

      = render 'cancellation_form', type: :request
    
    - when 'request_cancelled'
      %h1= t("visit.you_cancelled_this_visit_request")
      %p= t("visit.request_a_a", a: (link_to 'new visit', prisoner_details_path))
    
    - when 'visit_cancelled'
      %h1= t("visit.you_cancelled_this_visit")
      %p= t("visit.request_a_a", a: (link_to 'new visit', prisoner_details_path))
    
    - else
      %p= t("visit.there_was_a_problem_your_visit_request_i")
