- content_for :header do
  %h1 Your details

%p Enter your details below. Use ‘Add another visitor’ to enter details of other visitors coming with you.

= form_for visit, url: update_step2_path do |f|

  - if visit.visitors.any? {|v| v.errors.any?}
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading Your form could not be submitted. Please fix the errors below.

  - visit.visitors.each_with_index do |visitor, index|
    = f.fields_for visitor, index: '' do |visitor_form|
      = render 'visitor_fields', f: visitor_form, index: index, visitor: visitor

  = f.button 'Add another visitor',  :name => 'next', :value => 'add'
  %br
  %br
  .actions
    = link_to 'Cancel and delete all details', abandon_path, :class => 'pull-right', :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"
    = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary', :id => 'continue'
