- content_for :header do
  %h1 Your visit date and time

%p Choose the date and time you would like to visit #{visit.prisoner.first_name} #{visit.prisoner.last_name}

%h2 #{visit.prisoner.prison_name}

%p Today's date: #{Date.today.strftime('%d %b %Y')}

- start_day = Date.today+2
- date_range = start_day..start_day+1.month

- months_in_range = date_range.map {|d| Date.new(d.year, d.month, 1) }.uniq
- months_in_range.each do |d|
  %h3= d.strftime("%B")

.date-picker.js-tabs.cf
  %h3 First, select a date below
  %ul.date-picker-nav
    - date_range.each do |date|
      %li= link_to date.strftime("%A #{date.day.ordinalize}"), "#date-#{date.strftime('%Y-%m-%d')}"

  .slots
    %h3 Then select a time slot
    .date-picker-content.js-tabs-content
      - date_range.each do |date|
        %div{ :id => "date-#{date.strftime('%Y-%m-%d')}" }
          = date.strftime("%A %e")
          %h4 First session
          %label.slot
            9:30am to 11:30am
            %input{ :value => "#{date.strftime('%Y-%m-%d')}-1" }(type="checkbox" name="slot")
          %h4 Second session
          %label.slot
            1:45pm to 3:45pm
            %input{ :value => "#{date.strftime('%Y-%m-%d')}-2" }(type="checkbox" name="slot")
          %h4 Third session
          %label.slot
            5:15pm to 7:15pm
            %input{ :value => "#{date.strftime('%Y-%m-%d')}-3" }(type="checkbox" name="slot")


= form_for visit, url: update_step4_path, :html => { :class => 'slot-form' } do |f|

  - if f.object.errors.any?
    %div
      Your form could not be submitted. Please fix the errors below.

  - @slots.each_with_index do |slot, index|
    = f.fields_for :slots, slot do |builder|

      %fieldset
        %legend Choice #{index+1}

        .group
          = label_tag "visit[slots][][date]", 'Date'
          = date_field_tag "visit[slots][][date]", slot.date

        .group
          = label_tag "visit[slots][][slot]", 'Slot'
          = text_field_tag "visit[slots][][slot]", slot.slot

  %br
  = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary'
