- content_for :header do
  %h1 Summary of your request

.well
  %h2 You are visiting
  %p
    %big
      %strong #{visit.prisoner.full_name}
  %p
    Date of birth:
    %strong #{visit.prisoner.date_of_birth}
  %p
    Prisoner number:
    %strong #{visit.prisoner.number}
  %p
    Prison:
    %strong #{visit.prisoner.prison_name}
  %div= link_to 'View/edit details', step1_path

.well
  %h2 Chosen visit times
  %ul
    - visit.slots.each do |slot|
      %li
        - slot_date = Date.parse(slot.date)
        %strong
          = slot_date.strftime("%A #{slot_date.day.ordinalize} %B")
        \ - #{slot.slot}
  = link_to 'Edit these visit times', step4_path

.well
  %h2 Visitor details
  - visit.visitors.each_with_index do |visitor, i|
    %p
      Visitor #{i+1}
      %br
      %strong= visitor.full_name
  = link_to 'View/edit details', step2_path

%br
%div= link_to 'Confirm and book', step6_path, :class => 'button button-primary'