- content_for :header do
  %h1 Your details

%p Enter your details below. Use ‘Add another visitor’ to enter details of other visitors coming with you.

= form_for visit.visitors[0] || Visitor.new, url: update_step2_path, as: :visitor do |f|

  - if f.object.errors.any?
    %div
      Your form could not be submitted. Please fix the errors below.

  .group{ :class => ('validation-error' if f.object.errors.include?(:full_name)) }
    = f.label :full_name do
      Full name
      %span.validation-message= f.object.errors[:full_name].first if f.object.errors.include?(:full_name)
    = f.text_field :full_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    = f.label :date_of_birth do
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_field :date_of_birth

  %p
    %small Children under 16 can only visit with an adult.

  .well
    %fieldset
      %legend Contact details (optional)

      %p You can receive confirmation of your visit by email or test message. Enter your address or mobile phone number below.

      .group
        = f.label :email, 'Email address'
        = f.email_field :email

      .group
        = f.label :phone, 'Contact phone number'
        = f.telephone_field :phone

  %br
  = render 'additional_visitors'
  = f.button 'Add another visitor', :name => 'next', :value => 'add'

  %br
  %br
  = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary'
