- content_for :header do
  %h1 Summary of your visit

%h2 You are visiting
.well
  %p
    %strong #{visit.prisoner.full_name}
  %p
    Date of birth:
    %strong #{visit.prisoner.date_of_birth}
  %p
    Prisoner number:
    %strong #{visit.prisoner.number}
  %p
    Prison:
    %strong #{visit.prisoner.prison_name}
  %div= link_to 'Change this time', step4_path

%h2 Chosen visit slots
.well
  %ul
    - visit.slots.each do |slot|
      %li
        %strong #{slot.date}
        \ - #{slot.slot}
  = link_to 'Amend these visit slots', step4_path


%h2 Visitor details
= render 'visitors'

%br
%div= link_to 'Confirm and book', step6_path, :class => 'button button-primary'