- content_for :header do
  %h1 Your visit request has been sent

%p We will email you within 72 hours to confirm your visit.

.well.summary-pane.pull-left.cf
  %p.flat
    Requested visiting times:
  %ul.unstyled-list
    - visit.slots.each do |slot|
      - if slot.date.present?
        %li
          - slot_date = Date.parse(slot.date)
          %strong= slot_date.strftime("%A %e %B")
          \ -
          = display_slot_and_duration slot.times

  %p
    Location:
    %br
    %strong
      #{visit.prisoner.prison_name}
      %br
      - case visit.prisoner.prison_name
        - when 'HMP Gartree'
          = ['Gallow Field Rd', 'Market Harborough', 'Leicestershire', 'LE16 7RP'].join('<br>').html_safe
        - when 'HMP Rochester'
          = ['1 Fort Road', 'Rochester', 'Kent', 'ME1 3QS'].join('<br>').html_safe
        - when 'HMP Cardiff'
          = ['Knox Rd', 'Cardiff', 'South Glamorgan', 'CF24 0UG'].join('<br>').html_safe
        - when 'HMP Durham'
          = ['Old Elvet','Durham','DH1 3HU'].join('<br>').html_safe

  %p
    Tel:
    %br
    %strong 0191 332 3400

  .visible--js-enabled.hidden--print
    = link_to 'Print this page', '#', :class => 'print-link'

.info
  %p
    A confirmation email will be sent to: 
    %strong #{visit.visitors[0].email}

  %p Please make sure you bring two forms of ID with you. One of them must have your address on. Acceptable forms of ID include:

  %p Passport or driving licence (with your address on), utility bills addressed to you, council tax bills.

  %p You won’t be able to visit without these two forms of ID.

  %h2 First time visitors 

  %p You will be searched before entering the prison visiting room. Prison staff may check your pockets, pat you down and ask you to go through a metal detector. Dogs may also be used to detect illegal substances.

  %p Please do not bring anything restricted or illegal to the prison. For more information about what you are allowed to bring, please contact the prison.

  %p
    If you have any questions, see the 
    %a(href="#") #{visit.prisoner.prison_name} prison
    page or call the prison on 010 2345 5678.

  / %p
  /   If you have any questions, visit the 
  /   %a(href="#") #{visit.prisoner.prison_name} website
  /   or call the prison on 010 2345 5678.