- content_for :header do
  %h1 Add another visitor

= render 'visitors'

= form_for visit.visitors[@index] || Visitor.new, url: update_step3_path, as: :visitor do |f|
  = hidden_field_tag :index, @index

  - if f.object.errors.any?
    %div
      Your form could not be submitted. Please fix the errors below.

  .group{ :class => ('validation-error' if f.object.errors.include?(:first_name)) }
    = f.label :first_name do
      First name
      %span.validation-message= f.object.errors[:first_name].first if f.object.errors.include?(:first_name)
    = f.text_field :first_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:last_name)) }
    = f.label :last_name do
      Last name
      %span.validation-message= f.object.errors[:last_name].first if f.object.errors.include?(:last_name)
    = f.text_field :last_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    = f.label :date_of_birth do
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_field :date_of_birth

  = render 'restrictions'

  %br
  = f.button 'Add another visitor',  :name => 'next', :value => 'add'
  = link_to 'Cancel', step4_path, :class => 'button button-warning'
  %br
  %br
  = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary'
