- content_for :header do
  %h1 Summary of your request

.well
  %h2 You are visiting
  %p
    %big
      %strong #{visit.prisoner.first_name} #{visit.prisoner.last_name}
  %p
    Date of birth:
    %strong= visit.prisoner.date_of_birth.strftime("%e %B %Y")
  - if visit.prisoner.number.present?
    %p
      Prisoner number:
      %strong #{visit.prisoner.number}
  %p
    Prison:
    %strong #{visit.prisoner.prison_name}
  %div= link_to 'View/edit details', step1_path

.well
  %h2 Chosen visit times
  %ul.unstyled-list
    - visit.slots.each do |slot|
      - if slot.date.present?
        %li
          - slot_date = Date.parse(slot.date)
          %strong= slot_date.strftime("%A %e %B")
          \ -
          = display_time_slot slot.times
  = link_to 'Edit these visit times', step4_path

.well
  %h2 Visitor details
  - visit.visitors.each_with_index do |visitor, i|
    - if visitor.first_name.present? || visitor.last_name.present?
      %p
        Visitor #{i+1}
        %br
        %strong #{visitor.first_name} #{visitor.last_name}
  = link_to 'View/edit details', step2_path

%br
%div= button_to 'Cancel this request', abandon_path, :class => 'button pull-right'
%div= button_to 'Send request', update_step5_path, :class => 'button button-primary'
