- content_for :header do
  %h1 Who are you visiting

%p Use this service to book a visit to a prisoner. Get started by entering the details of the prisoner you wish to visit.

= form_for visit.prisoner, url: update_step1_path, as: :prisoner, :html => { :class => 'form validation' } do |f|

  - if f.object.errors.any?
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading Your form could not be submitted. Please fix the errors below.

  .group{ :class => ('validation-error' if f.object.errors.include?(:first_name)) }
    = f.label :first_name do
      First name
      %span.validation-message= f.object.errors[:first_name].first if f.object.errors.include?(:first_name)
    = f.text_field :first_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:last_name)) }
    = f.label :last_name do
      Last name
      %span.validation-message= f.object.errors[:last_name].first if f.object.errors.include?(:last_name)
    = f.text_field :last_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    = f.label :date_of_birth do
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_field :date_of_birth

  .group{ :class => ('validation-error' if f.object.errors.include?(:number)) }
    = f.label :number do
      Number
      %span.validation-message= f.object.errors[:number].first if f.object.errors.include?(:number)
    = f.text_field :number

  .group{ :class => ('validation-error' if f.object.errors.include?(:prison_name)) }
    = f.label :prison_name do
      Prison name
      %span.validation-message= f.object.errors[:prison_name] if f.object.errors.include?(:prison_name)
    = f.select :prison_name, Prisoner::PRISONS

  = f.submit :Continue, :class => 'button button-primary'
