- content_for :header do
  %h1 Your details

%p Enter your details below. Use ‘Add another visitor’ to enter details of other visitors coming with you.

= form_for visit, url: update_step2_path do |f|

  - if visit.visitors.any? {|v| v.errors.any?}
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading Your form could not be submitted. Please fix the errors below.

  - visit.visitors.each_with_index do |visitor, index|
    = f.fields_for visitor, index: '' do |visitor_form|
      = render 'visitor_fields', f: visitor_form, index: index, visitor: visitor
  
  .additional-adult
  .additional-child

  .actions
    = f.button 'Add another visitor',  :name => 'next', :value => 'add', :class => 'hidden--js-enabled'
    = f.button :Continue, :name => 'next', :value => 'continue', :class => 'button button-primary', :id => 'continue'

-# Repeat an empty instance of the visitor fields to append additional visitors on the client-side
= form_for(Visit.new(prisoner: Prisoner.new, visitors: [Visitor.new, Visitor.new], slots: []), url: '', html: { id: 'template' }) do |f|
  = f.fields_for Visitor.new, index: '' do |visitor_form|
    %script#additional-visitor(type="text/html")
      = render 'visitor_fields', f: visitor_form, index: 1, visitor: Visitor.new