- content_for :header do
  %h1 Who are you visiting?

%p Please make sure you've spoken to the prisoner you're visiting before you book a visit.

= form_for visit.prisoner, url: update_step1_path, as: :prisoner, :html => { :class => 'form validation' } do |f|

  - if f.object.errors.any?
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading Your form could not be submitted. Please fix the errors below.

  .group{ :class => ('validation-error' if f.object.errors.include?(:full_name)) }
    = f.label :full_name do
      Full name of prisoner
      %span.validation-message= f.object.errors[:full_name].first if f.object.errors.include?(:full_name)
    = f.text_field :full_name

  .group{ :class => ('validation-error' if f.object.errors.include?(:date_of_birth)) }
    = f.label :date_of_birth do
      Date of birth
      %span.validation-message= f.object.errors[:date_of_birth].first if f.object.errors.include?(:date_of_birth)
    = f.date_field :date_of_birth

  .group{ :class => ('validation-error' if f.object.errors.include?(:number)) }
    = f.label :number do
      Prisoner number
      %span.validation-message= f.object.errors[:number].first if f.object.errors.include?(:number)
    = f.text_field :number

  .group{ :class => ('validation-error' if f.object.errors.include?(:prison_name)) }
    = f.label :prison_name do
      Name of the prison
      %span.validation-message= f.object.errors[:prison_name] if f.object.errors.include?(:prison_name)
    = f.select :prison_name, Prisoner::PRISONS

  .actions= f.submit :Continue, :class => 'button button-primary'
