- content_for :header, 'Visitor 1: your details'


= form_for visit, url: update_visitor_details_path, :html => { :autocomplete => 'off' } do |f|

  - if visit.visitors.any? {|v| v.errors.any?}
    = render 'shared/validation'

  - visit.visitors.each_with_index do |visitor, index|
    = f.fields_for visitor, index: '' do |visitor_form|
      = render 'visitor_fields', f: visitor_form, index: index, visitor: visitor
  
  .additional-visitors

  .actions
    = f.submit :name => 'next', :value => 'Add another visitor', :class => 'button hidden--js-enabled'
    = link_to 'Cancel and delete all details', abandon_path, :class => 'pull-right', :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"
    = f.submit :name => 'next', :value => 'Continue', :class => 'button button-primary', :id => 'continue'

-# Repeat an empty instance of the visitor fields to append additional visitors on the client-side
= form_for(Visit.new(prisoner: Prisoner.new, visitors: [Visitor.new, Visitor.new], slots: []), url: '', html: { id: 'template' }) do |f|
  = f.fields_for Visitor.new, index: '' do |visitor_form|
    %script#additional-visitor(type="text/html")
      = render 'visitor_fields', f: visitor_form, index: 1, visitor: Visitor.new