<% %i[day month year].zip([3, 2, 1]).each do |field_name, i| %>
  <div class="datefield form-group form-group-<%= field_name %>">
    <label for="prisoner_date_of_birth_<%= i %>i">
      <%= t(field_name, scope: 'date.fields') %>
    </label>
    <input
      class="form-control"
      value="<%=
        prisoner.date_of_birth ?
          prisoner.date_of_birth.send(field_name).to_s.rjust(2, '0') : ''
        %>"
      type="number"
      min="<%= prisoner.minimum_date_of_birth.send(field_name) %>"
      max="<%= prisoner.maximum_date_of_birth.send(field_name) %>"
      pattern="[0-9]*"
      name="prisoner[date_of_birth(<%= i %>i)]"
      id="prisoner_date_of_birth_<%= i %>i"
      aria-describedby="dobHint"
    />
  </div>
<% end %>
