- content_for :header, 'Who are you visiting?'
= render partial: 'analytics'

.Grid
  .Grid-2-3
    %ul
      %li you don’t need a Visiting Order (VO) number to request a visit
      %li you need the dates of birth for all visitors coming with you
      %li your visit will be confirmed by email within 3 working days of making your request

    = form_for visit.prisoner, url: prisoner_details_path, as: :prisoner, :html => { :class => 'form validation', :autocomplete => 'off' } do |f|

      %h2 Prisoner details

      - if f.object.errors.any?
        - if f.object.errors.include?(:api)
          #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
            %h2#error-heading Your details need to be checked
            %p To protect prisoners’ identity, we can’t highlight incorrect details.
            %p Carefully check the following:
            %ul
              %li names should be entered exactly as they appear on official documents, eg ‘Thomas’ instead of ‘Tom’
              %li the prisoner number should follow this format a1111aa
            %p If you’re sure that all details are correct, contact the prisoner to check with them.
            %p You won’t be able to book a visit to a prisoner who has moved prison or has no visit entitlement left.

        - else
          = render 'shared/validation'

      %fieldset
        %legend.visuallyhidden Prisoner details

        =group_container(f, :first_name) do
          = f.label :first_name do
            Prisoner first name
            =field_error(f, :first_name)
          = f.text_field :first_name

        =group_container(f, :last_name) do
          = f.label :last_name do
            Prisoner last name
            =field_error(f, :last_name)
          = f.text_field :last_name

        =group_container(f, :date_of_birth) do
          %fieldset
            %legend
              Prisoner date of birth
              =field_error(f, :date_of_birth)
            .date-of-birth
              %p#dobHint.form-hint.datefield-hint eg 28 04 1996
              - dates = ['day', 'month', 'year']
              - min = [1, 1, 1900]
              - max = [31, 12, Date.today.year - 15]
              - dates.each_with_index do |o, i|
                .datefield{ :class => "form-group form-group-#{o}" }
                  %label{ :for => "prisoner_date_of_birth_#{dates.count - i}i"} #{o.mb_chars.titleize }
                  %input.form-control{ :value => (f.object.date_of_birth ? f.object.date_of_birth.send(o).to_s.rjust(2, '0') : ''), :type => "number", :min => min[i], :max => max[i], :pattern => "[0-9]*", :name => "prisoner[date_of_birth(#{dates.count - i}i)]", :id => "prisoner_date_of_birth_#{dates.count - i}i", :'aria-describedby' => "dobHint" }

        =group_container(f, :number) do
          = f.label :number do
            Prisoner number
            =field_error(f, :number)
          %p.form-hint eg a1234bc
          = f.text_field :number

        =group_container(f, :prison_name) do
          = f.label :prison_name do
            Name of the prison
            %p.form-hint eg Cardiff
            =field_error(f, :prison_name)
          - if f.object.errors.include?(:prison_name_reason)
            %p
              - case prison_data['reason']
                - when 'it_issues'
                  HMP #{prison_name} is unable to process online visit requests right now. You can #{prison_link visit, 'contact the prison'} directly to book a visit instead.
                - when 'coming_soon'
                  HMP #{prison_name} isn’t able to process online visit requests yet. You can #{prison_link visit, 'contact the prison'} directly to book a visit instead.
                - else
                  HMP #{prison_name} is unable to process online visit requests. Instead you can #{prison_link visit, 'contact the prison'} directly to book a visit.
          = f.select :prison_name, prison_names, { prompt: 'select a prison' }, { class: 'js-autocomplete' }

      .actions
        .primary-actions
          = f.submit :Continue, :class => 'button button-primary'
        %p= link_to 'Cancel and delete all details', abandon_path, :'data-confirm' => "Are you sure you wish to cancel this visit request?\r\rThis will delete all the information you have entered"

    %p.note
      %strong Please note
      %br
      If you don't enter any information for more than 20 minutes, then your session will time out and you'll need to start again.
    = render 'ad_help'
