:css
  h2, li {
    font-weight: bold;
  }
  ol, ul, li {
    margin: 0; padding: 0;
    font-size: 19px;
    list-style: none;
  }
  label input {
    margin-right: 10px;
  }
  textarea {
    width: 100%; height: 6em;
    margin-bottom: 1em;
  }

%h2= t("deferred.you_received_a_request_to_visit_a_for", a: (booked_visit.prisoner.prison_name))

%p
  = t("deferred.prisoner")
  %strong= t("deferred.a_b", a: (booked_visit.prisoner.first_name), b: (booked_visit.prisoner.last_name))
  %br
  = t("deferred.number")
  %strong #{booked_visit.prisoner.number}
  %br
  = t("deferred.date_of_birth")
  %strong #{booked_visit.prisoner.date_of_birth.strftime("%d/%m/%Y")}


%hr


%h2= t("deferred.the_visitors_are")

- booked_visit.visitors.each_with_index do |visitor, index|
  %p
    = t("deferred.visitor_a", a: (index + 1))
    %strong= t("deferred.a_b", a: (visitor.first_name), b: (visitor.last_name))
    %br
    = t("deferred.age")
    %strong #{visitor.age}
    %br
    = t("deferred.date_of_birth")
    %strong #{visitor.date_of_birth.strftime("%d/%m/%Y")}
    - if visitor.email
      %br
      = t("deferred.email_1")
      %strong #{visitor.email}
    - if visitor.phone
      %br
      = t("deferred.phone")
      %strong #{visitor.phone}


%hr


%h2= t("deferred.confirm_the_visit_or_ask_the_visitor_to")

= form_for @confirmation, url: deferred_confirmation_path do |f|
  = hidden_field_tag :state, params[:state]
  %p
    = t("deferred.1_if_one_of_the_visit_times_is_available")
  
  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %p
      = t("deferred.2_choose_the_available_date_below_to_sen")

    %ul
      - booked_visit.slots.each_with_index do |slot, index|
        - if slot.date.present?
          %li
            %label{ for: "confirmation_outcome_slot_#{index}" }
              = radio_button_tag 'confirmation[outcome]', "slot_#{index}"
              = succeed ':' do
                = index == 0 ? "First choice" : "Alternative #{index}"
              = Date.parse(slot.date).strftime('%A, %d/%m/%Y from ')
              = format_time_str_24 slot.times.split('-')[0]
              = t("deferred.unknown_3")
              = format_time_str_24 slot.times.split('-')[1]
  
  %p
    = t("deferred.3_if_the_visitor_is_not_on_the_prisoner")
    = t("deferred.select_the_option_below")

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %p
      %strong
        %label(for='confirmation_outcome_not_on_contact_list')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NOT_ON_CONTACT_LIST
          = t("deferred.the_visitor_is_not_on_the_prisoner_s_con")

  %p
    = t("deferred.4_if_no_dates_are_available_select_the_o")
    = t("deferred.prison_visits_booking_website")

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %p
      %strong
        %label(for='confirmation_outcome_no_slot_available')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NO_SLOT_AVAILABLE
          = t("deferred.none_of_the_chosen_times_are_available")

  %p
    = t("deferred.5_if_the_prisoner_does_not_have_any_vos")

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %p
      %strong
        %label(for='confirmation_outcome_no_vos_left')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NO_VOS_LEFT
          = t("deferred.the_prisoner_does_not_have_any_visiting")

    .group
  
  %p= t("deferred.6_enter_the_vo_number_here_except_for_vi")
  = f.text_area :message

  = f.button 'Send confirmation email', :class => 'button button-primary js-submit'
