- content_for :header, 'Process a visit request'

%h2 You received a request to visit #{booked_visit.prisoner.prison_name} for:

%p
  Prisoner:
  %strong #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name}
  %br
  Number:
  %strong #{booked_visit.prisoner.number}
  %br
  Date of birth:
  %strong #{booked_visit.prisoner.date_of_birth.strftime("%d/%m/%Y")}


= form_for @confirmation, url: confirmation_path do |f|
  = hidden_field_tag :state, params[:state]

  %h2 Visit date

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %ul
      - booked_visit.slots.each_with_index do |slot, index|
        - if slot.date.present?
          %li
            %label.block-label{ for: "confirmation_outcome_slot_#{index}" }
              = radio_button_tag 'confirmation[outcome]', "slot_#{index}"
              = succeed ':' do
                = index == 0 ? "First choice" : "Alternative #{index}"
              %strong
                = Date.parse(slot.date).strftime('%A, %d/%m/%Y from ')
                = format_time_str_24 slot.times.split('-')[0]
                \-
                = format_time_str_24 slot.times.split('-')[1]

      %li
        %label.block-label(for='confirmation_outcome_no_slot_available')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NO_SLOT_AVAILABLE
          None of the chosen times are available

  %h2 Entitlement (VOs)

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %div
      %label.block-label(for='confirmation_outcome_no_vos_left')
        = radio_button_tag 'confirmation[outcome]', Confirmation::NO_VOS_LEFT
        The prisoner does not have any visiting allowance left
    %div
      %label.block-label(for='confirmation_outcome_no_pvos_left')
        = radio_button_tag 'confirmation[outcome]', Confirmation::NO_PVOS_LEFT
        The prisoner does not have any weekend allowance

  %h2 Details incorrect

  .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
    %div
      %label.block-label(for='confirmation_outcome_prisoner_incorrect')
        = check_box_tag 'confirmation[outcome]', Confirmation::PRISONER_INCORRECT
        Prisoner details are inorrect

  .group
    %label.block-label(for='confirmation_outcome_not_on_contact_list')
      = check_box_tag 'confirmation[outcome]', Confirmation::NOT_ON_CONTACT_LIST
      Visitor details incorrect

  .group.panel-indent
    - booked_visit.visitors.each_with_index do |visitor, index|
      %label.block-label{ :for => "confirmation_visitor_not_found_#{index}" }
        = check_box_tag 'confirmation[visitor_not_found]', index
        #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} details are incorrect

  .group
    %div
      %label.block-label(for='confirmation_outcome_visitor_banned')
        = check_box_tag 'confirmation[outcome]', Confirmation::VISITOR_BANNED
        Visit is banned

  .group.panel-indent
    - booked_visit.visitors.each_with_index do |visitor, index|
      %label.block-label{ :for => "confirmation_visitor_banned_#{index}" }
        = check_box_tag 'confirmation[visitor_banned]', index
        #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} details are incorrect

  = f.button 'Send confirmation email', :class => 'button button-primary js-submit'
