- content_for :header, "Visit request for #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name}"

.Grid
  .Grid-3-4

    %ul
      %li book the visit in NOMIS first
      %li use this form to send a visit confirmation or visit rejection email to the visitor

    = form_for @confirmation, url: confirmation_path do |f|
      = hidden_field_tag :state, params[:state]

      %h2 Visit date

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        - booked_visit.slots.each_with_index do |slot, index|
          - if slot.date.present?
            %label.block-label{ for: "confirmation_outcome_slot_#{index}" }
              = radio_button_tag 'confirmation[outcome]', "slot_#{index}", false, { :'data-conditional-el' => 'vo_number_field', :'data-disable-el' => '#confirmation_not_on_contact_list,#confirmation_visitor_banned', :class => 'js-Conditional' }
              = succeed ':' do
                = index == 0 ? "First choice" : "Alternative #{index}"
              %strong
                = Date.parse(slot.date).strftime('%A, %d/%m/%Y from ')
                = format_time_str_24 slot.times.split('-')[0]
                \-
                = format_time_str_24 slot.times.split('-')[1]

        .panel-indent{ :id => 'vo_number_field', :class => ('validation-error' if f.object.errors.include?(:vo_number)) }
          %label{ :for => 'confirmation_vo_number' }
            VO number
            %span.validation-message= f.object.errors[:vo_number].first if f.object.errors.include?(:vo_number)
          = text_field_tag 'confirmation[vo_number]', nil, :maxlength => 8

        %label.block-label(for='confirmation_outcome_no_slot_available' )
          = radio_button_tag 'confirmation[outcome]', Confirmation::NO_SLOT_AVAILABLE, false, { :'data-conditional-el' => 'details_no_slot_available', :class => 'js-Conditional' }
          None of the chosen times are available

        #details_no_slot_available.panel-indent
          %p Choose this option if:
          %ul.list-bullet
            %li the prisoner has restrictions on their visits
            %li the prisoner is due to be elsewhere, eg at court
            %li the visit can’t take place because another prisoner is having a visit at the same time and they are incompatible
          %h3 What we’ll tell the visitor
          %p
            %em.email We’re sorry but none of the dates and times you chose to visit #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name} at #{booked_visit.prisoner.prison_name} were available. Please visit http://gov.uk/prison-visits/ to choose some alternative dates.

      %h2 Visiting allowance

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        %label.block-label(for='confirmation_outcome_no_allowance')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NO_ALLOWANCE, false, { :'data-conditional-el' => 'no_allowance', :class => 'js-Conditional' }
          The prisoner does not have any visiting allowance (VO)

        #no_allowance.panel-indent
          .group{ :class => ('validation-error' if f.object.errors.include?(:no_vos_left)) }
            %label.block-label(for='confirmation_outcome_no_vos_left')
              = check_box_tag 'confirmation[outcome]', Confirmation::NO_VOS_LEFT, false, { :'data-conditional-el' => 'details_no_vo_left', :class => 'js-Conditional', :id => 'confirmation_outcome_no_vos_left' }
              Visiting allowance (weekends and weekday visits) (VO) will be renewed:

          #details_no_vo_left
            = render 'booking_calendar', :name => 'confirmation[renew_vo]'
            %h3 What we’ll tell the visitor
            %p
              %em #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name} will have their visiting allowance (VO) renewed on [DATE NO CHOSEN].

          .group{ :class => ('validation-error' if f.object.errors.include?(:no_pvos_left)) }
            %label.block-label(for='confirmation_outcome_no_pvos_left')
              = check_box_tag 'confirmation[outcome]', Confirmation::NO_PVOS_LEFT, false, { :'data-conditional-el' => 'details_no_pvos_left', :class => 'js-Conditional', :id => 'confirmation_outcome_no_pvos_left' }
              If weekday visit (PVO) is possible instead, choose the date PVO expires:

          #details_no_pvos_left
            = render 'booking_calendar', :name => 'confirmation[renew_pvo]'
            %h3 What we’ll tell the visitor
            %p
              %em You can book a weekday visit with allowance that is valid until [DATE NO CHOSEN].

      %h2 Prisoner details

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        %label.block-label(for='confirmation_outcome_prisoner_incorrect')
          = radio_button_tag 'confirmation[outcome]', Confirmation::PRISONER_INCORRECT, false, { :'data-conditional-el' => 'prisoner_incorrect', :class => 'js-Conditional' }
          Prisoner details are incorrect

      #prisoner_incorrect.panel-indent
        %h3 What we’ll tell the visitor
        %p
          %em.email You haven’t given correct information for the prisoner. Eg the prisoner’s name, number or date of birth is incorrect. Contact the prisoner to get up-to-date information.

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        %label.block-label(for='confirmation_outcome_prisoner_not_present')
          = radio_button_tag 'confirmation[outcome]', Confirmation::PRISONER_NOT_PRESENT, false, { :'data-conditional-el' => 'prisoner_not_present', :class => 'js-Conditional' }
          Prisoner is not here

      #prisoner_not_present.panel-indent
        %h3 What we’ll tell the visitor
        %p
          %em.email Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie quam nec augue porttitor elementum. Phasellus sit amet arcu eu dui convallis consequat vitae a purus. Sed consectetur gravida accumsan.

      %h2 Visitor details

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        %label.block-label(for='confirmation_outcome_not_on_contact_list')
          = radio_button_tag 'confirmation[outcome]', Confirmation::NOT_ON_CONTACT_LIST, false, { :'data-conditional-el' => 'visitors_not_listed', :class => 'js-Conditional' }
          Visitor details incorrect

      #visitors_not_listed.panel-indent
        %h3 What we’ll tell the visitor
        %p
          %em.email The details you’ve provided don’t match what we have on our records. Please contact the prisoner and ask them to update their contact list with your details, making sure that names appear exactly the same as on your ID documents.

        - booked_visit.visitors.each_with_index do |visitor, index|
          %label.block-label{ :for => "confirmation_visitor_not_found_#{index}" }
            = check_box_tag "confirmation[visitor_not_found_#{index}]", 1
            #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} details are incorrect

      .group{ :class => ('validation-error' if f.object.errors.include?(:outcome)) }
        %label.block-label(for='confirmation_outcome_visitor_banned')
          = radio_button_tag 'confirmation[outcome]', Confirmation::VISITOR_BANNED, false, { :'data-conditional-el' => 'visitors_banned', :class => 'js-Conditional' }
          Visitor is banned

      #visitors_banned.panel-indent
        %h3 What we’ll tell the visitor
        %p
          %em.email You should have received a letter to say that you’re banned from visiting the prison at the moment. Get in touch with the prison for more information.

        - booked_visit.visitors.each_with_index do |visitor, index|
          %label.block-label{ :for => "confirmation_visitor_banned_#{index}" }
            = check_box_tag "confirmation[visitor_banned_#{index}]", 1
            #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} is banned

      = f.button 'Send email', :class => 'button button-primary js-submit'
