- content_for :header, 'Cookies'

.Grid
  .Grid-2-3

    %article.group{role: "article"}
      .summary
        %p= t("static.prison_visits_booking_pvb_puts_small_fil")
      
      %p= t("static.cookies_are_used_to")
      %ul
        %li= t("static.measure_how_you_use_the_website_so_it_ca")
        %li= t("static.remember_the_notifications_you_ve_seen_s")
      
      .application-notice.info-notice
        %p= t("static.pvb_cookies_aren_t_used_to_identify_you")
      
      %p= t("static.you_ll_normally_see_a_message_on_the_sit")
      %p
        = t("static.find_out_more_about")
        %a{href: "http://www.aboutcookies.org/", rel: "external"}= t("static.how_to_manage_cookies")


      
      %h2= t("static.how_cookies_are_used_on_pvb")


      %h3= t("static.measuring_website_usage_google_analytics")
      
      %p= t("static.we_use_google_analytics_software_to_coll")
      %p= t("static.google_analytics_stores_information_abou")
      
      %ul
        %li
          = t("static.the_pages_you_visit_on_pvb")
          = t("static.how_long_you_spend_on_each_pvb_page")
        %li= t("static.how_you_got_to_the_site")
        %li= t("static.what_you_click_on_while_you_re_visiting")
      
      %p= t("static.we_don_t_collect_or_store_your_personal")
      .application-notice.info-notice
        %p= t("static.we_don_t_allow_google_to_use_or_share_ou")
      
      %p= t("static.google_analytics_sets_the_following_cook")
      %table
        %thead
          %tr
            %th= t("static.name")
            %th= t("static.purpose")
            %th= t("static.expires")
        %tbody
          %tr
            %td= t("static.ga")
            %td= t("static.determines_the_number_of_unique_visitors")
            %td= t("static.2_years")

      %p
        = t("static.you_can")
        %a{href: "https://tools.google.com/dlpage/gaoptout", rel: "external"}= t("static.opt_out_of_google_analytics_cookies")


      %h3= t("static.our_introductory_message")
      
      %p= t("static.you_may_see_a_pop_up_welcome_message_whe")
      %table
        %thead
          %tr
            %th= t("static.name")
            %th= t("static.purpose")
            %th= t("static.expires")
        %tbody
          %tr
            %td= t("static.seen_cookie_message")
            %td= t("static.saves_a_message_to_let_us_know_that_you")
            %td= t("static.1_month")


      %h3= t("static.session")

      %p= t("static.the_pvb_service_does_not_store_your_pris")
      %table
        %thead
          %tr
            %th= t("static.name")
            %th= t("static.purpose")
            %th= t("static.expires")
        %tbody
          %tr
            %td= t("static.pvbs")
            %td= t("static.store_prisoner_visitor_and_visit_details")
            %td= t("static.20_minutes")
