%script{src: "//www.google-analytics.com/cx/api.js?experiment=4uAdObjoRp2Cz3Ve100AvA"}

%p
  You can use this form to tell us about a problem you're having with the website. You must
  %a(href="http://www.justice.gov.uk/contacts/prison-finder") contact the prison
  if your question is about:
  %ul
    %li whether your visit has been booked
    %li cancelling or changing visit details eg names of visitors, dates or times
    %li what you can bring when you visit, eg clothes or money
    %li prisoner's contact lists or visiting allowance
%p
  We’re not able to help with questions about the above.

= form_for @feedback, :url => feedback_path, :html => {:novalidate => 'novalidate', :class => 'js-SubmitOnce'} do |f|
  %input{name: 'feedback[referrer]', type: 'hidden', value: (params[:referrer] || (params[:feedback][:referrer] if params[:feedback]))}/
  %input{name: 'feedback[user_agent]', type: 'hidden', value: request.headers['HTTP_USER_AGENT']}

  - if @feedback.errors.any?
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading You need to fix the errors on this page before continuing.
      %p See highlighted errors below.
      %ul
        - @feedback.errors.full_messages.each do |msg|
          %li= msg

  %p
    %strong Please don't include any sensitive personal information (eg. prisoner numbers).

  %fieldset
    %legend.visuallyhidden Feedback form
    .group{ :class => ('validation-error' if f.object.errors.include?(:text)) }
      = f.label :text do
        Your question
        %span.validation-message= f.object.errors[:text].first if f.object.errors.include?(:text)
      = f.text_area :text, :cols => 50, :rows => 5

  %fieldset
    %legend Do you want a reply?
    %p If you'd like us to get back to you, please leave your details below.
    .group{ :class => ('validation-error' if f.object.errors.include?(:email)) }
      = f.label :email do
        Your email address
        %span.validation-message= f.object.errors[:email].first if f.object.errors.include?(:email)
      = f.email_field :email
      .group__help We'll only use this to reply to your message.

    .actions
      = f.submit 'Send', :class => 'button button-primary', :id => 'submit-button'
