%p Use this form to report a problem or suggest improvements to the service. If you want to make or change a visit request please call the prison’s visit booking line.

= form_for @feedback, :url => feedback_path, :html => {:novalidate => 'novalidate'} do |f|
  %input{name: 'feedback[referrer]', type: 'hidden', value: (params[:referrer] || (params[:feedback][:referrer] if params[:feedback]))}/
  %input{name: 'feedback[user_agent]', type: 'hidden', value: request.headers['HTTP_USER_AGENT']}

  - if @feedback.errors.any?
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading You need to fix the errors on this page before continuing.
      %p See highlighted errors below.
      %ul
        - @feedback.errors.full_messages.each do |msg|
          %li= msg

  %p
    %strong Please don't include any sensitive personal information (eg. bank details, address etc.)
  
  %fieldset
    .group{ :class => ('validation-error' if f.object.errors.include?(:text)) }
      = f.label :text do
        Your comments
        %span.validation-message= f.object.errors[:text].first if f.object.errors.include?(:text)
      = f.text_area :text, :cols => 50, :rows => 5

  %fieldset
    %legend Do you want a reply?
    %p If you'd like us to get back to you, please leave your details below.
    .group{ :class => ('validation-error' if f.object.errors.include?(:email)) }
      = f.label :email do
        Your email address
        %span.validation-message= f.object.errors[:email].first if f.object.errors.include?(:email)
      = f.email_field :email
      .group__help We'll only use this to reply to your message.
    
    .actions
      = f.submit 'Send', :class => 'button button-primary', :id => 'submit-button'
