%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  = t("mailers_common.dear_a", a: (@visit.visitors.first.first_name))

- case @confirmation.outcome

- when Confirmation::NO_SLOT_AVAILABLE
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
    = t("mailers_common.we_re_sorry_but_none_of_the_dates_and_ti")
    %strong= t("mailers_common.a_b", a: (@visit.prisoner.first_name), b: (initial ? @visit.prisoner.last_initial + '.' : @visit.prisoner.last_name))
    = t("mailers_common.at")
    %strong #{@visit.prisoner.prison_name}
    = t("mailers_common.were_available")
  
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
    - @visit.slots.each_with_index do |slot, index|
      - if slot.date.present?
        - unless index == 0 
          %br
        = t("mailers_common.a_b_c", a: (index + 1), b: (Date.parse(slot.date).strftime("%A %e %B")), c: (display_time_slot(slot.times)))
  
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.please_visit_a_to_choose_some_alternativ", a: (link_to('www.gov.uk/prison-visits', 'http://www.gov.uk/prison-visits')))


- when Confirmation::NOT_ON_CONTACT_LIST
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.you_have_tried_to_book_a_visit_but_not_a")
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.you_need_to_contact_the_prisoner_to_be_a")


- when Confirmation::NO_VOS_LEFT
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.you_have_tried_to_book_a_visit_but_the_p")


- when Confirmation::NO_ALLOWANCE
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.we_re_sorry_but_the_prisoner_you_want_to")

  - if @confirmation.no_pvo

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.however_you_can_book_a_weekday_visit_wit", a: (Date.parse(@confirmation.renew_pvo).strftime("%A %e %B")))

  - if @confirmation.no_vo

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.a_b_will_have_their_full_visiting_allow", a: (@visit.prisoner.first_name), b: (initial ? @visit.prisoner.last_initial : @visit.prisoner.last_name), c: (Date.parse(@confirmation.renew_vo).strftime("%A %e %B")))


- when Confirmation::PRISONER_INCORRECT

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_visit_cannot_take_place_as_you_have")


- when Confirmation::PRISONER_NOT_PRESENT

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_visit_cannot_take_place_as_the_pris", a: (link_to('find a prisoner service', 'http://www.gov.uk/find-prisoner')))


- else
  - if @confirmation.visitor_not_listed

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_visit_cannot_take_place_as_details", a: (@confirmation.unlisted_visitors.join(', ').gsub(';', ' ')))

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.please_contact_the_prisoner_and_ask_them")

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.if_this_is_the_prisoner_s_first_visit_re")

  - elsif @confirmation.visitor_banned
    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_visit_cannot_take_place_a_should_ha", a: (@confirmation.banned_visitors.join(', ').gsub(';', ' ')))

  - else 
    - raise 'bad reason'


- if @message_from_prison
  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= @message_from_prison

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  = t("mailers_common.if_you_have_any_questions_visit_the")
  %a{ :href => prison_url(@visit) }= t("mailers_common.prison_website")
  = t("mailers_common.or_call_the_prison_on")
  %strong= t("mailers_common.a", a: (prison_phone))

%p
  %small= t("mailers_common.visit_id_a", a: (@visit.visit_id))

