- visitors = visitor_names(@visit.visitors)
- visitors = visitors - @confirmation.unlisted_visitors if @confirmation.visitor_not_listed
- visitors = visitors - @confirmation.banned_visitors if @confirmation.visitor_banned

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.dear_a", a: (@visit.visitors.first.first_name))

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_visit_to_a_is_now_successfully_conf", a: (@visit.prisoner.prison_name))

%h2{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.a_b_1", a: (format_date(@slot.date)), b: (display_time_slot(@slot.times)))

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.please_arrive_45_minutes_before_your_vis")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  = t("mailers_common.prisoner")
  %strong= t("mailers_common.a_b", a: (@visit.prisoner.first_name), b: (initial ? @visit.prisoner.last_initial : @visit.prisoner.last_name))
  %br
  = t("mailers_common.prisoner_number")
  %strong #{@visit.prisoner.number.upcase}

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  - visitors.each_with_index do |visitor, index|
    - unless index == 0 
      %br
    = t("mailers_common.visitor_a", a: (index + 1))
    %strong= t("mailers_common.a_b", a: (first_name(visitor)), b: (initial ? last_initial(visitor) : last_name(visitor)))


- if @confirmation.canned_response && @confirmation.vo_number != 'none'

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.your_reference_number_is_a", a: (@confirmation.vo_number))


- if @confirmation.visitor_not_listed or @confirmation.visitor_banned

  %h2{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.visitors_unable_to_attend_this_visit")

  %ul
    - if @confirmation.visitor_not_listed
      %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.a_cannot_attend_as_they_re_not_on_the_p", a: (@confirmation.unlisted_visitors.inject([]){ |array, (visitor)| array << first_name(visitor) + ' ' + (initial ? last_initial(visitor) : last_name(visitor)) }.join(', ')))
    - if @confirmation.visitor_banned
      %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.a_cannot_attend_as_they_re_currently_ba", a: (@confirmation.banned_visitors.inject([]){ |array, (visitor)| array << first_name(visitor) + ' ' + (initial ? last_initial(visitor) : last_name(visitor)) }.join(', ')))

  - if @confirmation.visitor_not_listed

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.visitors_not_on_contact_lists_need_to_as")

  - if @confirmation.visitor_banned

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.banned_visitors_should_have_received_a_l")


- if @confirmation.closed_visit

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
    %strong= t("mailers_common.this_is_a_closed_visit")
    = t("mailers_common.the_prisoner_will_be_behind_a_glass_scre")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.cancel_or_change_this_visit")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.if_you_no_longer_want_to_visit_on_this_d", a: (link_to('you can cancel this visit', visit_status_url(@visit.visit_id, state: @token))))

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.if_you_want_to_change_anything_about_you")

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.questions_about_your_visit")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.please_don_t_reply_to_this_email_if_you")

%ul
  %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }
    = t("mailers_common.telephone")
    %strong #{prison_phone}
  %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }
    = t("mailers_common.email")
    %strong #{prison_email}


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.add_this_email_to_your_address_book")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } = t("mailers_common.to_stop_visit_confirmation_emails_going")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.what_to_bring_when_you_visit")

%div{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  = render partial: 'content/id_requirements'

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.if_you_have_any_questions_about_id_requi")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.if_you_re_bringing_someone_else_s_child")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.you_ll_need_a_letter_from_that_child_s_p")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.what_to_expect_when_visiting_prison")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.you_will_be_searched_before_entering_the")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.what_not_to_bring")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.please_don_t_bring_anything_restricted_o", a: (link_to(@visit.prisoner.prison_name + ' prison page', prison_url(@visit))))


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.your_data")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.the_ministry_of_justice_hm_prison_servic")


%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' }= t("mailers_common.need_help_or_have_a_question")

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }= t("mailers_common.if_you_have_a_question_or_need_any_help", a: (link_to('contact us', new_feedback_url)))

%p
  %small= t("mailers_common.visit_id_a", a: (@visit.visit_id))
