- visitors = visitor_names(@visit.visitors)
- visitors = visitors - @confirmation.unlisted_visitors if @confirmation.visitor_not_listed
- visitors = visitors - @confirmation.banned_visitors if @confirmation.visitor_banned

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Dear #{@visit.visitors.first.first_name},

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Your visit to #{@visit.prisoner.prison_name} is now successfully confirmed.

%h2{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } #{format_date(@slot.date)}, #{display_time_slot(@slot.times)}

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Please arrive 45 minutes before your visit starts.

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  Prisoner:
  %strong #{@visit.prisoner.first_name} #{initial ? @visit.prisoner.last_initial : @visit.prisoner.last_name}
  %br
  Prisoner number:
  %strong #{@visit.prisoner.number.upcase}

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  - visitors.each_with_index do |visitor, index|
    - unless index == 0
      %br
    Visitor #{index + 1}:
    %strong #{first_name(visitor)} #{initial ? last_initial(visitor) : last_name(visitor)}

- if @confirmation.canned_response && @confirmation.vo_number != 'none'

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Your reference number is: #{@confirmation.vo_number}

- if @confirmation.visitor_not_listed or @confirmation.visitor_banned

  %h2{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Visitors unable to attend this visit

  %ul
    - if @confirmation.visitor_not_listed
      %li{ style: 'font: 16px Helvetica, Arial, sans-serif' } #{@confirmation.unlisted_visitors.inject([]){ |array, (visitor)| array << first_name(visitor) + ' ' + (initial ? last_initial(visitor) : last_name(visitor)) }.join(', ')} cannot attend as they’re not on the prisoner’s contact list
    - if @confirmation.visitor_banned
      %li{ style: 'font: 16px Helvetica, Arial, sans-serif' } #{@confirmation.banned_visitors.inject([]){ |array, (visitor)| array << first_name(visitor) + ' ' + (initial ? last_initial(visitor) : last_name(visitor)) }.join(', ')} cannot attend as they’re currently banned

  - if @confirmation.visitor_not_listed

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Visitors not on contact lists need to ask prisoners to update their lists with correct details, making sure that names appear exactly the same as on ID documents.

  - if @confirmation.visitor_banned

    %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Banned visitors should have received a letter to say that they’re banned from visiting the prison at the moment. Get in touch with the prison for more information.

- if @confirmation.closed_visit

  %p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
    %strong This is a closed visit:
    the prisoner will be behind a glass screen in a separate area rather than in the visiting hall.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Cancel or change this visit

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } If you no longer want to visit on this date, #{link_to('you can cancel this visit', visit_status_url(@visit.visit_id, state: @token))}.

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } If you want to change anything about your visit, like dates or visitors coming, contact the prison.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Questions about your visit

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Please don't reply to this email if you have any other questions about your visit. Instead you must contact us directly.

%ul
  %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }
    telephone:
    %strong #{prison_phone}
  %li{ style: 'font: 16px Helvetica, Arial, sans-serif' }
    email:
    %strong #{prison_email}

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Add this email to your address book

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }  To stop visit confirmation emails going to your spam or junk folder please add no-reply@email.prisonvisits.service.gov.uk to your address book or safe senders list.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } What to bring when you visit

%div{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' }
  = render partial: 'content/id_requirements'

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } If you have any questions about ID requirements, please contact the prison.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } If you’re bringing someone else’s child

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } You’ll need a letter from that child’s parents giving you permission to accompany their child.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } What to expect when visiting prison

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } You will be searched before entering the prison visiting room. Prison staff may check  your pockets, pat you down and ask you to go through a metal detector. Dogs may also be used to detect illegal substances.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } What not to bring

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } Please don’t bring anything restricted or illegal to the prison. The #{link_to(@visit.prisoner.prison_name + ' prison page', prison_url(@visit))} has more information about what you can bring.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Your data

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } The Ministry of Justice (HM Prison Service) uses and retains the personal data of visitors for the purposes of the safe and secure provision of Prison Services, including those related to the management and rehabilitation of offenders. Access to the establishment can only be granted by supplying the prescribed information in order to ensure and maintain a safe and secure environment for all. You have the right to request details as to the personal information we hold for you; and subsequently request that we correct any personal information if it is found to be inaccurate or out of date. We will not share your information with other organisations unless it is required for the purposes of prevention, detection of crime, apprehension, prosecution, and management of offenders; prevention of terrorism; National  Security; or required to do by law.

%h1{ style: 'margin:1em 0;font: bold 24px Helvetica, Arial, sans-serif' } Need help or have a question?

%p{ style: 'margin:1em 0;font: 16px Helvetica, Arial, sans-serif' } If you have a question or need any help with the online visits service, please #{link_to('contact us', new_feedback_url)}.

%p
  %small Visit ID: #{@visit.visit_id}
