%ul
  %li book the visit in NOMIS first
  %li use this form to send a visit confirmation or visit rejection email to the visitor
  %li make sure you select visitors who can’t attend under 'Issue with visitors'

= form_for @confirmation, url: confirmation_path, html: { class: 'js-SubmitOnce' } do |f|
  = hidden_field_tag :state, params[:state]
  = hidden_field_tag 'confirmation[canned_response]', true

  - if f.object.errors.any?
    #error-summary.validation-summary.group(role="alert" tabindex="-1" aria-labelledby="error-heading")
      %h2#error-heading You need to fix the errors on this page before continuing.
      %ul
        - f.object.errors.each do |obj, error|
          %li
            %a.error-link{ :href => "##{obj.to_s}" }= error

  %h2 Visit date

  =group_container(f, :outcome, id: 'outcome') do
    - booked_visit.slots.each_with_index do |slot, index|
      - if slot.date.present?
        %label.block-label{ for: "confirmation_outcome_slot_#{index}" }
          = radio_button_tag 'confirmation[outcome]', "slot_#{index}", f.object.outcome == "slot_#{index}", { :class => 'js-Conditional',  :data => { :'conditional-el' => 'vo_number_field,not_listed_confirmed,banned_confirmed', :'conditional-alt' => 'not_listed_rejected,banned_rejected', :'conditional-val' => 'slot_0,slot_1,slot_2' } }
          = succeed ':' do
            = index == 0 ? "First choice" : "Alternative #{index}"
          %strong
            = Date.parse(slot.date).strftime('%A, %d/%m/%Y from ')
            = format_time_str_24 slot.times.split('-')[0]
            \-
            = format_time_str_24 slot.times.split('-')[1]

    .panel-indent{ :id => 'vo_number_field' }
      =field_container(f, :vo_number, id: 'vo_number') do
        %label{ :for => 'confirmation_vo_number' }
          Reference number
          %p.form-hint eg Last 8 digits of VO number or "none" for remand
          =field_error(f, :vo_number)
        = text_field_tag 'confirmation[vo_number]', nil, :maxlength => 8

      .group
        #closed_visit.field
          %label.block-label(for='confirmation_closed_visit')
            = check_box_tag 'confirmation[closed_visit]', 1, f.object.closed_visit.present?, { :'data-conditional-el' => 'details_closed_visit', :class => 'js-Conditional' }
            This is a closed visit

        #details_closed_visit
          %h3 What we’ll tell the visitor
          %p
            %em.email
              %strong This is a closed visit:
              the prisoner will be behind a glass screen in a separate area rather than in the visiting hall.

    %label.block-label(for='confirmation_outcome_no_slot_available' )
      = radio_button_tag 'confirmation[outcome]', Confirmation::NO_SLOT_AVAILABLE, false, { :'data-conditional-el' => 'details_no_slot_available', :class => 'js-Conditional' }
      None of the chosen times are available

    #details_no_slot_available.panel-indent
      %p Choose this option if:
      %ul.list-bullet
        %li the prisoner has restrictions on their visits
        %li the prisoner is due to be elsewhere, eg at court
        %li the visit can’t take place because another prisoner is having a visit at the same time and they are incompatible
      %h3 What we’ll tell the visitor
      %p
        %em.email We’re sorry but none of the dates and times you chose to visit #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name} at #{booked_visit.prisoner.prison_name} were available. Please visit www.gov.uk/prison-visits to choose some alternative dates.

  %h2 Visiting allowance

  =group_container(f, :outcome) do
    %label.block-label(for='confirmation_outcome_no_allowance')
      = radio_button_tag 'confirmation[outcome]', Confirmation::NO_ALLOWANCE, f.object.outcome == Confirmation::NO_ALLOWANCE, { :'data-conditional-el' => 'no_allowance', :class => 'js-Conditional' }
      The prisoner does not have any visiting allowance (VO)

    #no_allowance.panel-indent
      %h3 What we’ll tell the visitor
      %p
        %em.email We’re sorry, but the prisoner you want to visit has not got any visiting allowance left for the dates you’ve chosen.
      %p You can also tell the visitor more about the VO and PVO status:

      =field_container(f, :no_vo, id: 'no_vo') do
        %label.block-label(for='confirmation_no_vo')
          = check_box_tag 'confirmation[no_vo]', 1, f.object.no_vo.present?, { :'data-conditional-el' => 'details_no_vo', :class => 'js-Conditional', :id => 'confirmation_no_vo' }
          Visiting allowance (weekends and weekday visits) (VO) will be renewed:
          =field_error(f, :no_vo)

      #details_no_vo
        = render 'booking_calendar', :name => 'confirmation[renew_vo]'
        %h3 What we’ll tell the visitor
        %p
          %em.email
            #{booked_visit.prisoner.first_name} #{booked_visit.prisoner.last_name} will have their full visiting allowance (VO) renewed on
            = succeed '.' do
              %span.date [DATE NOT CHOSEN]

      =field_container(f, :no_pvo, id: 'no_pvo') do
        %label.block-label(for='confirmation_no_pvo')
          = check_box_tag 'confirmation[no_pvo]', 1, f.object.no_pvo.present?, { :'data-conditional-el' => 'details_no_pvo', :class => 'js-Conditional', :id => 'confirmation_no_pvo' }
          If weekday visit (PVO) is possible instead, choose the date PVO expires:
          =field_error(f, :no_pvo)

      #details_no_pvo
        = render 'booking_calendar', :name => 'confirmation[renew_pvo]'
        %h3 What we’ll tell the visitor
        %p
          %em.email
            However, you can book a weekday visit with visiting allowance valid until
            = succeed '.' do
              %span.date [DATE NOT CHOSEN]
            The visit must be taken before the allowance expires.

  %h2 Issue with the prisoner

  .group
    =field_container(f, :outcome) do
      %label.block-label(for='confirmation_outcome_prisoner_incorrect')
        = radio_button_tag 'confirmation[outcome]', Confirmation::PRISONER_INCORRECT, false, { :'data-conditional-el' => 'prisoner_incorrect', :class => 'js-Conditional' }
        Prisoner details are incorrect

    #prisoner_incorrect.panel-indent
      %h3 What we’ll tell the visitor
      %p
        %em.email Your visit cannot take place as you haven’t given correct information for the prisoner. Eg, the prisoner’s name, number or date of birth is incorrect. Contact the prisoner to get up-to-date information.

    =field_container(f, :outcome) do
      %label.block-label(for='confirmation_outcome_prisoner_not_present')
        = radio_button_tag 'confirmation[outcome]', Confirmation::PRISONER_NOT_PRESENT, false, { :'data-conditional-el' => 'prisoner_not_present', :class => 'js-Conditional' }
        Prisoner no longer at the prison

    #prisoner_not_present.panel-indent
      %h3 What we’ll tell the visitor
      %p
        %em.email Your visit cannot take place as the prisoner you want to visit has moved prison. They should contact you about where they are now.  You can also use the find a prisoner service (www.gov.uk/find-prisoner).

  %h2 Issue with visitors

  .group
    #unlisted.field{ :class => ('validation-error' if f.object.errors.include?(:visitor_not_listed) || f.object.errors.include?(:unlisted)) }
      %label.block-label(for='confirmation_visitor_not_listed')
        = check_box_tag 'confirmation[visitor_not_listed]', 1, f.object.visitor_not_listed == '1', { :'data-conditional-el' => 'visitors_not_listed', :class => 'js-Conditional' }
        Visitor isn’t on the contact list
        =field_error(f, :unlisted)

    #visitors_not_listed.panel-indent.CheckboxSummary(data-strip=";")
      %h3 What we’ll tell the visitor
      #not_listed_rejected
        %p
          %em.email
            Your visit cannot take place as details for
            %span.CheckboxSummary-summary [VISITOR NAME]
            don’t match our records or they aren’t on the prisoner’s contact list.
        %p
          %em.email Please contact the prisoner and ask them to update their contact list with correct details, making sure that names appear exactly the same as on ID documents.
        %p
          %em.email If this is the prisoner’s first visit (reception visit), then you need to contact the prison to book.
      #not_listed_confirmed
        %p
          %em.email
            %span.CheckboxSummary-summary
            cannot attend.
        %p
          %em.email
            Details for
            %span.CheckboxSummary-summary
            don’t match our records or the visitor isn’t on the contact list.
        %p
          %em.email Please contact the prisoner and ask them to update their contact list with correct details, making sure that names appear exactly the same as on ID documents.

      - booked_visit.visitors.each_with_index do |visitor, index|
        %label.block-label{ :for => "confirmation_unlisted_visitors_#{index}" }
          = check_box_tag "confirmation[unlisted_visitors][]", "#{visitor.first_name};#{visitor.last_name}", f.object.unlisted_visitors && f.object.unlisted_visitors.include?("#{visitor.first_name};#{visitor.last_name}"), { :id => "confirmation_unlisted_visitors_#{index}" }
          #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} is not on the list

    #banned.field{ :class => ('validation-error' if f.object.errors.include?(:visitor_banned) || f.object.errors.include?(:banned)) }
      %label.block-label(for='confirmation_visitor_banned')
        = check_box_tag 'confirmation[visitor_banned]', 1, f.object.visitor_banned == '1', { :'data-conditional-el' => 'visitors_banned', :class => 'js-Conditional' }
        Visitor is banned
        =field_error(f, :banned)

    #visitors_banned.panel-indent.CheckboxSummary(data-strip=";")
      %h3 What we’ll tell the visitor
      #banned_rejected
        %p
          %em.email
            Your visit cannot take place.
            %span.CheckboxSummary-summary [VISITOR NAME]
            should have received a letter to say that they’re banned from visiting the prison at the moment. Get in touch with the prison for more information.

      #banned_confirmed
        %p
          %em.email
            %span.CheckboxSummary-summary
            cannot attend.
        %p
          %em.email
            %span.CheckboxSummary-summary
            should have received a letter to say that they’re banned from visiting the prison at the moment. Get in touch with the prison for more information.

      - booked_visit.visitors.each_with_index do |visitor, index|
        %label.block-label{ :for => "confirmation_banned_visitors_#{index}" }
          = check_box_tag "confirmation[banned_visitors][]", "#{visitor.first_name};#{visitor.last_name}", f.object.banned_visitors && f.object.banned_visitors.include?("#{visitor.first_name};#{visitor.last_name}"), { :id => "confirmation_banned_visitors_#{index}" }
          #{visitor.first_name} #{visitor.last_name} #{visitor.date_of_birth.strftime("%d/%m/%Y")} is banned

  = f.button 'Send email', :class => 'button button-primary'
