- content_for :header, params['prison'].titleize

.Grid
  .Grid-2-3

    - if @data['enabled']

      #addresses
        #visiting{property: 'address', typeof: 'http://schema.org/PostalAddress'}
          %h2
            Address:
          %span{property: 'streetAddress'}
            = @data['address'][0]
          %span{property: 'addressLocality'}
            = @data['address'][1]
          - if @data['address'].length > 2
            %span{property: 'postalCode'}
              = @data['address'].last
          %p#map-link
            %a{href: "https://maps.google.co.uk/?q=#{@data['address'].join(', ')}", rel: 'external'}
              Maps and directions

      = link_to('Request a visit', prisoner_details_path(prison: params['prison'].titleize), class: 'button button-primary')

      %dl

        - if @data['phone']
          %dt Booking line
          %dd
            %a{href: "tel:#{@data['phone']}"}
              = @data['phone']

        %dt Standard visiting times
        %dd
          %table
            %tr
              - days = [:mon, :tue, :wed, :thu, :fri, :sat, :sun]
              - days.each do |d|
                %th= d.to_s.humanize
            %tr
              - days.each do |d|
                %td
                  - if @data['slots'] && @data['slots'].include?(d)
                    - @data['slots'][d].each do |slot|
                      %div= display_time_slot slot
                  - else
                    none

        - if @data['slot_anomalies']
          %dt Non-standard visiting times
          %dd
            %dl
              - @data['slot_anomalies'].each do |date, slots|
                - if date > Date.today
                  %dt= format_date date
                  %ul
                    - slots.each do |slot|
                      %li= display_time_slot slot

        - if @data['unbookable']
          %dt Scheduled non-visit days
          - @data['unbookable'].each do |date|
            - if date > Date.today
              %dd= format_date date

      %h2 ID requirements
      - if requirements = custom_id_requirements(params['prison'].titleize, :html)
        = requirements
      - else
        = standard_id_requirements(:html)

      = render 'content/visiting_guidance', visit: Visit.new(prisoner: Prisoner.new(prison_name: params['prison'].titleize))

      .noms-only(style="padding:1em; background:#e6e6e6;")
        %h2 NOMS network only

        %dl
          %dt NOMIS ID
          %dd= @data['nomis_id']

          - if @data['email']
            %dt Functional mailbox
            %dd
              %a{href: "mailto:#{@data['email']}"}
                = @data['email']

          %dt Booking staff work on weekends
          %dd= @data['works_weekends'] ? 'Yes' : 'No'

          - if @data['finder_slug']
            %dt Prison finder slug
            %dd= @data['finder_slug']

          %dt Booking response
          %dd= @data['lead_days'] ? @data['lead_days'] : Schedule::DEFAULT_LEAD_DAYS.to_s + ' days'

          - if @data['works_weekends']
            %dt Process visits on weekends
            %dd= @data['works_weekends'] ? 'Yes' : 'No'

    - else
      %dt Unable to process online visit requests
      %dd
        - if @data['reason']
          = @data['reason']
        - else
          HMP #{params['prison'].titleize} is unable to process online visit requests. Instead you can contact the prison directly to book a visit.

  .Grid-1-3
    - if @data['enabled']
      #map-canvas
        %a{href: "https://maps.google.co.uk/?q=#{@data['address'].join(', ')}"}
          %img{src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@data['address'].join(', ')}&zoom=13&size=280x248&key=AIzaSyAjw3AxaguxJs4SBcxsmln2wxTEgRBPU0E"}

    %aside
      %h2 Related information
      %p
        %a{ href: 'https://www.gov.uk/staying-in-touch-with-someone-in-prison/visiting-someone-in-prison' } Visiting someone in prisons
      %p
        %a{ href: 'https://www.gov.uk/find-prisoner' } Find a prisoner
