
.visitor.cf.AgeLabel{ :id => "visitor-#{index}",
  :class => ('additional-visitor' unless index == 0),
  :data => { :'threshold' => adult_age,
    :'label-over' => "Over #{adult_age}",
    :'label-under' => "Under #{adult_age}" } }

  - unless index == 0
    %h2
      Visitor
      - if js_template
        %span.js-visitor-position
          ${index}
      - else
        %span.js-visitor-position
          = index+1
      %small.AgeLabel-label

  =group_container(f, :first_name) do
    %label{ for: "first_name_#{index}" }
      = index == 0 ? 'Your first name' : 'First name'
      =field_error(f, :first_name)
    = text_field_tag 'visit[visitor][][first_name]', f.object.first_name, id: "first_name_#{index}"

  =group_container(f, :last_name) do
    %label{ for: "last_name_#{index}" }
      = index == 0 ? 'Your last name' : 'Last name'
      =field_error(f, :last_name)
    = text_field_tag 'visit[visitor][][last_name]', f.object.last_name, id: "last_name_#{index}"

  =group_container(f, :date_of_birth) do
    %fieldset
      %legend
        = index == 0 ? 'Your date of birth' : 'Date of birth'
        =field_error(f, :date_of_birth)
      .known-date.AgeLabel-date
        #dobHint
          - if index == 0
            %p.form-hint You must be over 18 to book a visit.
          %p.form-hint.datefield-hint eg 28 04 1996
        = render partial: 'shared/visitors_details/dob', locals: { visitor: visit.visitors[index.to_i], index: index, js_template: js_template }

  - if index == 0

    =group_container(f, :email) do
      %label{for: 'visit_visitor__email'}
        Email address
        =field_error(f, :email)
      %p.form-hint#emailHint You'll receive confirmation by email.
      = email_field_tag 'visit[visitor][][email]', f.object.email, :'aria-describedby' => "emailHint"

    - if @collect_phone_number
      =group_container(f, :phone) do
        %label{for: 'visit_visitor__phone'}
          Phone number
          =field_error(f, :phone)
        = telephone_field_tag 'visit[visitor][][phone]', f.object.phone

  - unless index == 0
    %label.remove-visitor
      = check_box_tag 'visit[visitor][][_destroy]', 1, false, { id: "_destroy-#{index}" }
      remove

    %p.remove-link.visible--js-enabled
      = link_to '#' do
        Remove visitor
        - if js_template
          %span.js-visitor-position
            ${index}
        - else
          %span.js-visitor-position
            = index+1
