!!!
%html
  %head
    = render "shared/head", :title => Rails.configuration.app_title
    = csrf_meta_tag

  %body{:class => (Rails.configuration.phase + " " + Rails.configuration.product_type)}

    = render "shared/header"

    %main#wrapper(role="main")
      .container
        %section.content.inner
          %header
            = yield :header
        %section.inner
          = yield

    = render "shared/footer"
    
    = render "shared/script"

