- content_for :page_title do
  = page_title(yield(:header))

- content_for :stylesheets do
  %script(src='/modernizr.custom.44058.js')
  = stylesheet_link_tag "application", media: "all"

- content_for :head do
  = csrf_meta_tag
  :javascript
    var pvbe = pvbe || {};

- content_for :javascripts do
  %script{src: '//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js'}
  :javascript
    window._ || document.write('<script src="/assets/lodash-2.4.1.min.js">\x3C/script>')
  = javascript_include_tag "application"

- content_for :body_classes, "#{config_item(:phase).to_s.downcase} #{config_item(:product_type).to_s.downcase} #{controller.action_name}"

- content_for :feedback_link, link_to("your feedback", new_feedback_path(referrer: request.original_url))

- content_for :content_override do
  %main#wrapper(role="main")
    .container
      %section.content.inner.cf
        = render "shared/cookie_required"

        = yield :progress_bar
        
        %header
          %h1= yield :header

        - if notice.present?
          %p.validation-summary= notice
        
        .content-inner
          = yield

= render template: "layouts/moj_template"
